
.e404 {
	background-image: url(<?php echo URL_imgs; ?>bkgs/Bkg_Home.jpg);
    align-items: center !important;
	height: 100vh;
}

:root {
	--main-color-tittle: #5ed1ef;
  
	--main-color-blue: #0099ff;
  }
  
  
  /**********
  FONTS
  **********/
  @font-face{
	font-family: Montserrat-Medium;
	src: url("../fonts/Montserrat-Medium.ttf");
  }
  
  @font-face{
	font-family: Oswald-VariableFont_wght;
	src: url("../fonts/Oswald-VariableFont_wght.ttf");
  
  }
  
  @font-face{
	font-family: Quicksand;
	src: url("../fonts/Quicksand-Bold.ttf");
  
  }
  
  @font-face{
	font-family: Quicksand;
	src: url("../fonts/Quicksand-Light.ttf");
  }
  
  @font-face {
	font-family: Quicksand;
	src: url("../fonts/Quicksand-Medium.ttf");
  }
  
  @font-face {
	font-family: Quicksand;
	src: url("Quicksand-SemiBold");
  }
  
  
  * {
	font-family: 'Quicksand';
  }
  
  html {
	scroll-behavior: smooth;
  }
  
  .main-site-wrapper {
	overflow: hidden;
  }
  
  
  
  /**********
	BASE
  **********/
  a {
	color: white;
	transition: text-shadow .3s;
  }
  a:hover {
	color: #148fcf !important;
	transition: color .3s ease;
	
  }
  a:hover, a:hover:visited {
	color: #5ed1ef;
	text-decoration: none !important;
  }
  
  ul,
  li {
	list-style: none !important;
	padding: 0 !important;
	margin: 0 !important;
  }
  
  /**********
  TITLES
  **********/
  h1 {
	font-family: Oswald-VariableFont_wght, Verdana, Geneva, Tahoma, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: var(--main-color-tittle);
	font-size: 50px;
	font-weight: 600
  }
  
  h2,
  h3,
  h4,
  h5 {
	font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	color: #28348a;
	
  }
  
  p {
	font-family: "Montserrat-Medium";
  }

.logoOmbu {
	width: 150px;
}

#mainNav {
	height: 50px !important;
	cursor: pointer;
	background-color: white;
	font-size: 13px;
	/* burguer */
	/* APPLYING COMPANY COLOR TO BOOTSTRAP BURGUER */
	/* custom style for div collapse */
  }
  #mainNav li a {
	font-weight: bolder;
	color: #000;
	text-transform: lowercase;
  }
  
  .contact-us-link {
	color: #fff !important;
  }
  
  #mainNav li a:hover, #mainNav li a:visited {
	text-shadow: #33AFFF;
  }
  #mainNav .dropdown-link {
	position: relative;
  }
  #mainNav .dropdown-link .dropdown-list,
  #mainNav .dropdown-link .deep-dropdown-list {
	visibility: hidden !important;
	width: 250px;
	background: white;
	position: absolute;
	top: -25px;
	opacity: 0;
	-webkit-box-shadow: 3px 13px 20px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 3px 13px 20px rgba(0, 0, 0, 0.1);
	box-shadow: 3px 13px 20px rgba(0, 0, 0, 0.1);
  }
  #mainNav .dropdown-link li {
	padding: 20px !important;
	width: 110%;
  }
  #mainNav .dropdown-link:hover .dropdown-list {
	visibility: visible !important;
	transform: translateY(40px);
	opacity: 1;
  }
  #mainNav .dropdown-link:hover .dropdown-list .deep-dropdown-list {
	visibility: hidden !important;
	left: 160px;
  }
  #mainNav .dropdown-link:hover .dropdown-list .deepdown-link:hover .deep-dropdown-list {
	visibility: visible !important;
	transform: translateX(80px);
	opacity: 1;
  }
  #mainNav .custom-toggler.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(27, 58, 80)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
	position: absolute;
	top: 10px;
	right: 10px;
  }
  #mainNav .navbar-toggler {
	border: none !important;
  }
  #mainNav .collapse {
	justify-content: flex-end !important;
  }
  #mainNav .responsive-menu-title .nav-link {
	padding: 0 !important;
	margin: 0 !important;
  }
  #mainNav #togglerBurguer:target {
	display: flex !important;
  }
  #mainNav #togglerBurguer:not(:target) {
	display: none !important;
  }
  #mainNav .hidden-menu-style {
	overflow: scroll;
	width: 100%;
	height: 100%;
	position: fixed !important;
	top: 100px !important;
	background: white;
	padding-bottom: 50px;
  }
  #mainNav .hidden-menu-style .nav-item,
  #mainNav .hidden-menu-style .nav-link {
	margin-top: 10px !important;
  }
  #mainNav .hidden-menu-style li {
	padding: 0 10px !important;
	margin: 0 10px !important;
  }
  
  #container-dynamic-content {
	width: 100%;
	height: fit-content !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 0;
  }
  @media (min-width: 992px) {
	#container-dynamic-content {
	  justify-content: flex-start;
	  align-items: flex-start;
	}
  }
  
  @media screen and (max-width: 812px){
	#desktop-line{
	  visibility: hidden;
	}
  }
  
  .top-boton{
	background: rgba(67,182,224,1);
	background: -moz-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67,182,224,1)), color-stop(99%, rgba(163,84,232,1)), color-stop(100%, rgba(183,222,237,1)));
	background: -webkit-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
	background: -o-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
	background: -ms-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
	background: linear-gradient(to right, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43b6e0', endColorstr='#b7deed', GradientType=1 );
	border-radius: 20px;
  }
  .top-boton a::hover{
	color: white;
  
  }
  
  .header-separetor {
	margin: auto 12px !important;
	display: inline-block;
	height: 16px;
	width: 1px;
	background: #5ed1ef;
  }
  
  .idioms a{
	text-transform: capitalize !important;
	color: var(--main-color-tittle) !important;
  }
  .idioms img{
	width: 15px;
  }