:root {
  --background--color: #e5e9f2;
  --background--grey: #a6abb1;


}


/**********
FONTS
**********/
@font-face{
  font-family: Montserrat-Medium;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face{
  font-family: Oswald-VariableFont_wght;
  src: url("../fonts/Oswald-VariableFont_wght.ttf");

}

@font-face{
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Bold.ttf");

}

@font-face{
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: Quicksand;
  src: url("Quicksand-SemiBold");
}


* {
  font-family: 'Quicksand';
}

html {
  scroll-behavior: smooth;
}

.main-site-wrapper {
  overflow: hidden;
}



/**********
  BASE
**********/
a {
  color: black;
  transition: text-shadow .3s;
}
a:hover {
  color: grey;
  font-weight: bolder;
  transition: color .3s ease;
  
}
a:hover, a:hover:visited {
  color: #5ed1ef;
  text-decoration: none !important;
}

ul,
li {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/**********
TITLES
**********/
h1 {
  font-family: Oswald-VariableFont_wght, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 50px;
  font-weight: 600
}

h2,
h3,
h4,
h5 {
  font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

p {
  font-family: "Montserrat-Medium";
}



/**********
  SECTION
**********/
section {
  padding-top: 30px;
  font-family: 'Avenir' !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  background-repeat: no-repeat;
  background-position: center;
}


/* ***********
    Navbar navegacion
  ************* */

  #mainNav .brevity{
    width: 100px;
  }




  /* ********************
      SECTION I   VITAE ERAT
    *************** 
  */

  .vitae-erat{
  background-color: var(--background--color);
  }

  



/* ********************
      SECTION II   Caracteristicas
    *************** 
  */

  .Burbuja-carct{
    min-height: 60vh;
  }

  .caract-item{
    background: var(--background--color);
    padding: 100px 10px 100px 10px;
    margin: 10px;
    border-radius: 50%;
  }  

  .caract-section{
    background-color: var(--background--grey);
  }
  .marcas-items{
    background-color: var(--background--color);
    padding: 25px;
    margin: 10px;
  }


  /* ********************
      SECTION III   Presentacion 
    *************** 
  */
  .presentacion-items h3{
    text-align: center;
    margin-bottom: 30px;
  }
  


  /* ********************
      SECTION IV   Presentacion 
    *************** 
  */

  .version-item{
    border: 1px solid black;
  }