:root {
  --main-color-tittle: #5ed1ef;

  --main-color-blue: #0099ff;
}


/**********
FONTS
**********/
@font-face{
  font-family: Montserrat-Medium;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face{
  font-family: Oswald-VariableFont_wght;
  src: url("../fonts/Oswald-VariableFont_wght.ttf");

}

@font-face{
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Bold.ttf");

}

@font-face{
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: Quicksand;
  src: url("Quicksand-SemiBold");
}


* {
  font-family: 'Quicksand';
}

html {
  scroll-behavior: smooth;
}

.main-site-wrapper {
  overflow: hidden;
}



/**********
  BASE
**********/
a {
  color: white;
  transition: text-shadow .3s;
}
a:hover {
  color: #148fcf !important;
  transition: color .3s ease;
  
}
a:hover, a:hover:visited {
  color: #5ed1ef;
  text-decoration: none !important;
}

ul,
li {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/**********
TITLES
**********/
h1 {
  font-family: Oswald-VariableFont_wght, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--main-color-tittle);
  font-size: 50px;
}

h2,
h3,
h4,
h5 {
  font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #204c6b;
}

p {
  font-family: "Montserrat-Medium";
}


@media (max-width: 768px) {
  h2 {
    line-height: 35px;
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  h2 {
    line-height: 25px;
    font-size: 20px;
  }
}

/**********
  PARAGRAPH
**********/
p {
  color: #646464;
  font-size: 20px;
}
@media (max-width: 768px) {
  p {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  p {
    font-size: 13px;
  }
}

/**********
  SECTION
**********/
section {
  padding-top: 0;
  font-family: 'Avenir' !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}


section .section-container {
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  section .section-container {
    margin: 0;
  }
}


/* lending Platataform */



/* consulting and software */

.consulting-and-software {
  padding-left: 100px;
  background-color: #3da1f3;
  
}

.consulting-and-software h1,
.consulting-and-software p,
.consulting-and-software h4,
.consulting-and-software h5{
  color: white;
}

.consulting-and-software img{
  max-width: 100px;
}

@media screen and (max-width: 768px){
  .consulting-and-software{
    padding: 20px;
  }

  .consulting-and-software #consulting-items{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;

  }

}


/* boton de Learn more */
.learn-more {
  background: rgba(67,182,224,1);
  background: -moz-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67,182,224,1)), color-stop(99%, rgba(163,84,232,1)), color-stop(100%, rgba(183,222,237,1)));
  background: -webkit-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  background: -o-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  background: linear-gradient(to right, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43b6e0', endColorstr='#b7deed', GradientType=1 );
  padding: 15px;
  border-radius: 20px;
}


/* <!-- OUR STATE-OF-THE-ART
TECHNOLOGIES --> */

.state-tecno img{
  max-width: 100px;
  
}

.state-tecno{
  padding-left: 100px;

}

@media screen and (max-width:768px){
  .state-tecno{
    padding: 20px;
  }


}

/* our value proposition */

.our-value {

  padding-left: 100px;
  background: rgba(6,30,125,1);
  background: -moz-linear-gradient(left, rgba(6,30,125,1) 0%, rgba(6,30,125,1) 36%, rgba(0,9,92,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(6,30,125,1)), color-stop(36%, rgba(6,30,125,1)), color-stop(100%, rgba(0,9,92,1)));
  background: -webkit-linear-gradient(left, rgba(6,30,125,1) 0%, rgba(6,30,125,1) 36%, rgba(0,9,92,1) 100%);
  background: -o-linear-gradient(left, rgba(6,30,125,1) 0%, rgba(6,30,125,1) 36%, rgba(0,9,92,1) 100%);
  background: -ms-linear-gradient(left, rgba(6,30,125,1) 0%, rgba(6,30,125,1) 36%, rgba(0,9,92,1) 100%);
  background: linear-gradient(to right, rgba(6,30,125,1) 0%, rgba(6,30,125,1) 36%, rgba(0,9,92,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061e7d', endColorstr='#00095c', GradientType=1 );
}

.our-value h1{
  color: var(--main-color-tittle);
}

.our-value p,
.our-value h5{
  color: white;
}


@media screen and (max-width: 768px){

  .our-value{
    padding: 20px;
  }
}

#our-value #our-value-title{
  padding-bottom: 20px;
}

/* OUR CLIENTS */
.our-clients{
  min-height: 40vh;
}
/* carrusel */
/* carrusel */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 10s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}
/* end carrusel */


/* fin del carrusel */



@media screen and (max-width: 768px){

  .our-clients {

    padding: 20px;
    text-align: center;
  }


}



/* WE ARE */
.we-are{
  background-color: rgb(204, 204, 204);
  padding-left: 100px;
}

.we-are img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.we-are .our-investors a{
  color: black;
  font-size: 20px;
  text-transform: uppercase;
}

.we-are .profiles .linkedin-logo img {
  width: 50px;
}

.we-are .profiles p{
  font-size: 15px;
}

.we-are .profiles h5,
.we-are  h1 {
  color: var(--main-color-blue);
}


@media screen and (max-width: 768px){

  .we-are{
    padding: 20px;
  }
}



/*************
LOGOS
*************/
/* company logo @ mainNav*/
.logoOmbu {
  max-width: 300px;
}

/* social network logos @ mainNav */
.social-network {
  display: flex;
  flex-direction: row;
}
@media (min-width: 768px) {
  .social-network {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    position: fixed;
    height: 300px;
    top: calc(50% - 120px);
  }
}
@media (max-width: 400px) {
  .social-network {
    display: none;
  }
}

.logo-redes {
  max-width: 70px;
  padding: 20px;
  
}
@media (min-width: 768px) {
  .logo-redes {
    margin: 0 !important;
  }
}
@media (max-width: 455px) {
  .logo-redes {
    margin: 0 -10px !important;
  }
}

.btn-send-form {
  color: black;
  text-align: right;
  background: none;
  outline: none;
  bordeR: 0;
  text-transform: uppercase !important;
}

#in-page-menu {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  width: 100%;
  background-color: #f5f8fb !important;
  padding: 10px 0;
}
#in-page-menu ul {
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (min-width: 768px) {
  #in-page-menu ul {
    justify-content: space-around;
    width: 80%;
  }
}
#in-page-menu ul li {
  font-size: 10px;
  word-wrap: none;
}
@media (min-width: 768px) {
  #in-page-menu ul li {
    font-size: 13px;
    padding: 0 10px !important;
  }
}
#in-page-menu ul li a {
  color: #204c6b;
  font-weight: bold;
}



/* Resolucion para IOS */
@media (max-width: 415px){
  #in-page-menu ul li{
    padding-left: 20px !important;
  }

  #in-page-menu {
    padding-right: 30px;
    margin-left: -10px;
  }

  #ai-credit-scoring img{
    height: 40px;
  }
}


/**********
    HEADER
  **********/
#mainNav {
  height: 100px !important;
  cursor: pointer;
  background-color: white;
  /* burguer */
  /* APPLYING COMPANY COLOR TO BOOTSTRAP BURGUER */
  /* custom style for div collapse */
}
#mainNav li a {
  font-weight: bolder;
  color: #204c6b;
}
#mainNav li a:hover, #mainNav li a:visited {
  text-shadow: #33AFFF;
  
}
#mainNav .dropdown-link {
  position: relative;
}
#mainNav .dropdown-link .dropdown-list,
#mainNav .dropdown-link .deep-dropdown-list {
  visibility: hidden !important;
  width: 250px;
  border-radius: 10px;
  background: white;
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-box-shadow: 3px 13px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 13px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 13px 20px rgba(0, 0, 0, 0.1);
}
#mainNav .dropdown-link li {
  padding: 20px !important;
  width: 100%;
}
#mainNav .dropdown-link:hover .dropdown-list {
  visibility: visible !important;
  transform: translateY(40px);
  opacity: 1;
}
#mainNav .dropdown-link:hover .dropdown-list .deep-dropdown-list {
  visibility: hidden !important;
  left: 160px;
}
#mainNav .dropdown-link:hover .dropdown-list .deepdown-link:hover .deep-dropdown-list {
  visibility: visible !important;
  transform: translateX(80px);
  opacity: 1;
}
#mainNav .custom-toggler.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(27, 58, 80)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
#mainNav .navbar-toggler {
  border: none !important;
}
#mainNav .collapse {
  justify-content: flex-end !important;
}
#mainNav .responsive-menu-title .nav-link {
  padding: 0 !important;
  margin: 0 !important;
}
#mainNav #togglerBurguer:target {
  display: flex !important;
}
#mainNav #togglerBurguer:not(:target) {
  display: none !important;
}
#mainNav .hidden-menu-style {
  overflow: scroll;
  width: 100%;
  height: 100%;
  position: fixed !important;
  top: 100px !important;
  background: white;
  padding-bottom: 50px;
}
#mainNav .hidden-menu-style .nav-item,
#mainNav .hidden-menu-style .nav-link {
  margin-top: 10px !important;
}
#mainNav .hidden-menu-style li {
  padding: 0 10px !important;
  margin: 0 10px !important;
}

#container-dynamic-content {
  width: 100%;
  height: fit-content !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
}
@media (min-width: 992px) {
  #container-dynamic-content {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/*******************************
  THINKTRANSFORMATION SECTION
********************************/
.think-transformation {
  background-image: url("../imgs/bkgs/Bkg_Section1.png");
  justify-content: flex-end !important;
  align-items: center !important;
  padding-top: 50px;
  padding-left: 100px;
  
}

.think-transformation h4{
  color: white;
  text-transform: capitalize;
}

.think-transformation h1{
  color: var(--main-color-tittle);
}

@media screen and (max-width: 768px){
  .think-transformation{
    background-size: cover;
    padding: 20px;
    /* background-attachment: fixed */
  }

}

/*******************************
  WHATWEDO SECTION
********************************/
.what-we-do {
  padding-left: 100px;
  
}

.line-left{
  border-left: solid black;
}

.what-we-do img {
  max-width: 30px;
}

@media screen and (max-width: 768px){

  .what-we-do {
    padding: 20px;
  }

  .line-left{
    border-left: none;
  }


}


/*******************************
  INNOVATION SECTION
********************************/
.lead-innovation {
  margin-top: -30px !important;
  background-size: 200%;
  background-position: left;

}
.lead-innovation h2 {
  text-transform: none !important;
  margin-bottom: 40px;
  padding-top: 10px !important;
}
.lead-innovation span {
  font-weight: lighter;
  color: #646464;
}
@media (max-width: 768px) {
  .lead-innovation span {
    line-height: 13px;
    font-size: 13px !important;
  }
}
@media (min-width: 768px) {
  .lead-innovation span {
    font-size: 20px;
  }
}
.lead-innovation span img {
  max-width: 60px;
}
@media (max-width: 576px) {
  .lead-innovation span img {
    max-width: 30px;
  }
}
@media (max-width: 768px) {
  .lead-innovation span img {
    max-width: 40px;
  }
}


/*******************************
  ABOUT SECTION
********************************/
.about-us {
  padding-top: 80px;
  background-color: #204c6b;
}
.about-us * {
  color: white !important;
}
.about-us .profile-position {
  font-size: 12px;
  line-height: 10px;
}
@media (max-width: 768px) {
  .about-us .profile-position {
    font-size: 10px;
  }
}
.about-us .profile-people {
  display: flex;
}
.about-us .profile-people .profile-people-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
@media (max-width: 768px) {
  .about-us .profile-people .profile-people-img {
    width: 70px;
    height: 70px;
  }
}
.about-us .profile-people .profile-people-description img {
  width: 15px;
  margin-right: 3px;
}
@media (max-width: 768px) {
  .about-us .profile-people .profile-people-description {
    font-size: 10px;
  }
}

/*******************************
  CONTACT SECTION
********************************/
.contact-us {
  padding-top: 0 !important;
  background-image: url("../imgs/bkgs/Bkg_Contact.jpg");
  background-size: cover;
  background-position: top top;
}
.contact-us h2 {
  padding-top: 150px !important;
  color: white !important;
}
.contact-us .contact-info-container {
  padding-top: 130px !important;
}
.contact-us .contact-info-container h2 {
  margin: 0 !important;
  padding: 0 !important;
  color: #204c6b !important;
  text-align: center;
}
.contact-us .contact-info-container .contact-information {
  margin: 40px 20px !important;
  
}
.contact-us .contact-info-container .contact-information .contact-city {
  font-weight: bolder !important;
  text-transform: uppercase;
}
.contact-us .contact-info-container .contact-information .contact-city:before {
  display: inline;
  font-family: 'Font Awesome 5 Free' !important;
  font-weight: 900 !important;
  content: '\f3c5';
  color: #3889c2;
  margin-right: 10px;
}

/*******************************
PRODUCTS SECTION
********************************/
#products {
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: bottom;
  height: fit-content;
}
#products h3 {
  text-transform: none !important;
}

#loan-management{
  padding-top: 178px !important;
}

/* Resolucion para IOS 415px*/

@media (max-width: 415px) {

  #loan-management p{    
    padding-right: 20px;
  }
}

/* Configuracion IOS Horizontal */

@media screen and (orientation: landscape) and (max-width: 812px) {
  #products {

    max-height: 100% !important;
  }

  #services {

    max-height: 100% !important;
  }

  #togglerBurguer {
    max-height: 100vh !important;
  }

  .news-cards {

    grid-template-columns: repeat(2, 2fr) !important;
  }

}

    

@media (min-width: 768px) {
  #products {
    max-height: 100vh;
  }
}
#products .is-hidden {
  display: none !important;
}
#products .active-item {
  color: #5ed1ef;
  background-color: #f3f1f0;
  border-radius: 20px;
}
@media (min-width: 576px) {
  #products #loan-management {
    padding-left: 30px;
  }



}

@media (max-width: 576px){

  .partner-galeria{

    width: 46%;
    margin: 2%;
    
    
  }

  .colection-item{
    
    grid-template-columns: repeat(4, 1fr);
  }

  
}


@media (min-width: 992px) {
  #products #loan-management {
    min-height: 100vh;
    padding: 0 0 0 250px;
  }
}
@media (min-width: 992px) {
  #products #loan-management p {
    width: 45%;
  }
}
#products #loan-management #key-features {
  margin: 0 !important;
  color: white !important;
  background-color: #204c6b;
}
@media (max-width: 992px) {
  #products #loan-management #key-features {
    padding: 5px;
  }
}
@media (min-width: 992px) {
  #products #loan-management #key-features {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 20px;
    padding-bottom: 0;
  }
}
#products #loan-management #key-features div.underlined-box {
  border-bottom: 1px solid white;
}
#products #loan-management #key-features h4 {
  text-transform: none !important;
  padding: 0 20px;
  margin: 0 auto !important;
  color: white !important;
}
#products #loan-management #key-features ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px auto !important;
}
@media (max-width: 992px) {
  #products #loan-management #key-features ul {
    padding: 0 10px !important;
  }
}
@media (min-width: 992px) {
  #products #loan-management #key-features ul {
    padding: 0 60px !important;
    margin-top: 5px !important;
  }
}
#products #loan-management #key-features ul li {
  width: calc(100%/2);
  list-style-position: inside;
}
@media (max-width: 576px) {
  #products #loan-management #key-features ul li {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  #products #loan-management #key-features ul li {
    margin: 5px 0 !important;
    width: calc(100%/3);
  }
}
#products #loan-management #key-features ul li span img {
  width: 20px !important;
  height: 20px !important;

}
#products #loan-management,
#products #end-to-end-lending,
#products #ai-credit-scoring,
#products #machine-learning,
#products #payment-solutions,
#products #business-outcomes {
  background-image: url("../imgs/bkgs/bkg_Products.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  width: 100vw;
  padding-top: 170px;
}
@media (max-width: 768px) {
  #products #end-to-end-lending,
  #products #ai-credit-scoring,
  #products #machine-learning,
  #products #payment-solutions,
  #products #business-outcomes {
    padding-bottom: 100px;
  }
}
@media (min-width: 768px) {

  #products #end-to-end-lending,
  #products #ai-credit-scoring,
  #products #machine-learning,
  #products #payment-solutions,
  #products #business-outcomes {
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 170px;
    padding-left: 70px;
  }
}
@media (min-width: 992px) {
  #products #end-to-end-lending,
  #products #ai-credit-scoring,
  #products #machine-learning,
  #products #payment-solutions,
  #products #business-outcomes {
    padding: 170px 150px;
  }
}
@media (min-width: 992px) {
  #products #end-to-end-lending div,
  #products #ai-credit-scoring div,
  #products #machine-learning div,
  #products #payment-solutions div,
  #products #business-outcomes div {
    width: 60%;
    max-width: 500px;
  }
}

/*******************************
    SERVICES SECTION
********************************/
#services {
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
  vertical-align: bottom;
  height: fit-content;
}
#services h3 {
  text-transform: none !important;
}
@media (min-width: 768px) {
  #services {
    max-height: 100vh;
  }
}
#services .is-hidden {
  display: none !important;
}
#services .active-item {
  color: #5ed1ef;
  background-color: #f3f1f0;
  border-radius: 20px;
}
@media (min-width: 768px) {
  #services #digital-transformation {
    padding: 0 250px;
  }
}

@media (max-width: 415px) {

  #digital-transformation {
    padding-top: 170px;
  }

}
#services #digital-transformation,
#services #cto-services,
#services #data-modernization,
#services #cloud-service-integration-support,
#services #biometric-solutions,
#services #app-developments {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  width: 100%;
}
@media (min-width: 768px) {
  #services #digital-transformation,
  #services #cto-services,
  #services #data-modernization,
  #services #cloud-service-integration-support,
  #services #biometric-solutions,
  #services #app-developments {
    min-height: 500px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 992px) {
  #services #digital-transformation div,
  #services #cto-services div,
  #services #data-modernization div,
  #services #cloud-service-integration-support div,
  #services #biometric-solutions div,
  #services #app-developments div {
    width: 60%;
  }
}
#services #digital-transformation,
#services #cto-services,
#services #data-modernization,
#services #cloud-service-integration-support,
#services #biometric-solutions,
#services #app-developments {
  padding-top: 178px;
}
@media (min-width: 768px) {
  #services #digital-transformation,
  #services #cto-services,
  #services #data-modernization,
  #services #cloud-service-integration-support,
  #services #biometric-solutions,
  #services #app-developments {
    padding-top: 178px;
    padding-left: 70px;
    height: 100vh;
  }
}
@media (min-width: 992px) {
  #services #digital-transformation,
  #services #cto-services,
  #services #data-modernization,
  #services #cloud-service-integration-support,
  #services #biometric-solutions,
  #services #app-developments {
    padding: 250px 250px;
  }
}

/**********
    PARTNER
  **********/

#partner-logo{
  margin-top: 20px;
  min-height: 50vh;

}

#partner-logo h1{
  
  text-align: left;
}

#partner-logo a{
  color: #204c6b;
}

.colection{ 
  padding-right: 130px;
  padding-top: 70px;
  padding-left: 130px;
  margin-top: 20px;
  
}

.news-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
  margin-bottom: 10px 0;

}

.news-cards img {
  width:  100%;
  height: 100px;

}

.colection-item{
  padding-top: 100px;
  justify-content: center;
  align-items: baseline; 
  text-align: center;

}
.colection-item img{
  height: 60px;
  margin-top: 20px;

}


.partner-galeria {
  border-radius: 20px;
  display: inline-block;
  margin: 20px;
  padding: 35px;
  object-fit: contain;  

  -webkit-box-shadow: 11px 2px 24px -2px rgba(192,222,237,1);
  -moz-box-shadow: 11px 2px 24px -2px rgba(192,222,237,1);
  box-shadow: 6px 6px 20px 0 rgba(0,0,0,.1)

}

#insiders img{
  height: 60px !important;
}

@media (max-width: 576px) {

  .news-cards {
    grid-template-columns: repeat(2, 2fr);  

  }

  .partner-galeria {
    width: 200px;
    margin-left: -30px;
  }
  

}

@media (max-width: 768px) {

  .news-cards {
    grid-template-columns: repeat(2, 2fr);  

  }

  .partner-galeria {
    width: 200px;
    margin-left: -30px;
  }
}

@media (max-width: 417px) {

  .news-cards {
    grid-template-columns: repeat(1, 1fr);  

  }


}

/* RESOURCE */

#resource img {
  width: 100px;
}

#resource {
  min-height: 50vh;
}

#resource h1{
  color: grey;
}

.media-body p{
  color: black;
  font-size: 18px;
}

#resource a {
  color: var(--main-color-tittle);
}



/**********
    FORMS
  **********/
.form-container {
  height: 100%;
  padding: 0 50px 50px 50px;
  background-color: #204c6b !important;
  color: white !important;
}
.form-container label {
  margin-right: 5px;
  display: block;
  width: 170px;
}
.form-container input {
  width: 90% !important;
}
.form-container button {
  color: white !important;
}
@media (max-width: 768px) {
  .form-container {
    width: 100vw;
  }
}


/* FOOTER */

.main-footer {
  background-color: #008bfc;
}

#footer {
  min-width: 50vh;
  font-size: 10px;
  background-color: 008bfc;
}

#social-media p,
.street p{
  font-size: 12px;
  color: white;
}

#social-media img{
  height: 20px;
}




/*# sourceMappingURL=inicio.css.map */
