:root {
  --main-color-tittle: #5ed1ef;

  --main-color-blue: #0099ff;
}


/**********
FONTS
**********/
@font-face{
  font-family: Montserrat-Medium;
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face{
  font-family: Oswald-VariableFont_wght;
  src: url("../fonts/Oswald-VariableFont_wght.ttf");

}

@font-face{
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Bold.ttf");

}

@font-face{
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: Quicksand;
  src: url("../fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: Quicksand;
  src: url("Quicksand-SemiBold");
}


* {
  font-family: 'Quicksand';
}

html {
  scroll-behavior: smooth;
}

.main-site-wrapper {
  overflow: hidden;
}



/**********
  BASE
**********/
a {
  color: white;
  transition: text-shadow .3s;
}
a:hover {
  color: #148fcf !important;
  transition: color .3s ease;
  
}
a:hover, a:hover:visited {
  color: #5ed1ef;
  text-decoration: none !important;
}

ul,
li {
  list-style: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

/**********
TITLES
**********/
h1 {
  font-family: Oswald-VariableFont_wght, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: var(--main-color-tittle);
  font-size: 50px;
  font-weight: 600
}

h2,
h3,
h4,
h5 {
  font-family: Quicksand, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #204c6b;
  
}

p {
  font-family: "Montserrat-Medium";
}


@media (max-width: 768px) {
  h2 {
    line-height: 35px;
    font-size: 30px;
  }
}
@media (max-width: 576px) {
  h2 {
    line-height: 25px;
    font-size: 20px;
  }
}

/**********
  PARAGRAPH
**********/
p {
  color: #646464;
  font-size: 20px;
}
@media (max-width: 768px) {
  p {
    font-size: 15px;
  }
}
@media (max-width: 576px) {
  p {
    font-size: 13px;
  }
}

/**********
  SECTION
**********/
section {
  padding-top: 0;
  font-family: 'Avenir' !important;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
}


section .section-container {
  width: 70%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  section .section-container {
    margin: 0;
  }
}


/* lending Platataform */



/* consulting and software */

.consulting-and-software {
  padding-left: 100px;
  background-color: #3da1f3;
  
}

.consulting-and-software h1,
.consulting-and-software p,
.consulting-and-software h4,
.consulting-and-software h5{
  color: white;
}

.consulting-and-software img{
  max-width: 100px;
}

.time-line-two::before{
  background: #28348a;
  content: '';
  height: 1px;
  position: absolute;
  width: 59%;
  margin: 52px;
  left: 50px;
}

@media screen and (max-width: 768px){
  .consulting-and-software{
    padding: 20px;
  }

  .consulting-and-software #consulting-items{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;

  }

}


/* boton de Learn more */
.learn-more {
  background: rgba(67,182,224,1);
  background: -moz-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67,182,224,1)), color-stop(99%, rgba(163,84,232,1)), color-stop(100%, rgba(183,222,237,1)));
  background: -webkit-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  background: -o-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  background: linear-gradient(to right, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43b6e0', endColorstr='#b7deed', GradientType=1 );
  padding: 15px;
  border-radius: 20px;
}


/* <!-- OUR STATE-OF-THE-ART
TECHNOLOGIES --> */



.state-tecno img{
  width: 100px;
  background-color: white;
  min-height: 110px;
}

.state-tecno p {
  font-size: 15px;
}


.time-line-one::before {
  background: #E6E6E6;
  content: '';
  height: 2px;
  position: absolute;
  width: 74%;
  margin: 60px 4px;

}

@media screen and (max-width:768px){
  .state-tecno{
    padding: 20px;
  }


}

/* our value proposition */

.our-value {
  background: rgba(6,30,125,1);
  background: -moz-linear-gradient(left, rgba(6,30,125,1) 0%, rgba(6,30,125,1) 36%, rgba(0,9,92,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(6,30,125,1)), color-stop(36%, rgba(6,30,125,1)), color-stop(100%, rgba(0,9,92,1)));
  background: -webkit-linear-gradient(left, rgba(6,30,125,1) 0%, rgba(6,30,125,1) 36%, rgba(0,9,92,1) 100%);
  background: -o-linear-gradient(left, rgba(6,30,125,1) 0%, rgba(6,30,125,1) 36%, rgba(0,9,92,1) 100%);
  background: -ms-linear-gradient(left, rgba(6,30,125,1) 0%, rgba(6,30,125,1) 36%, rgba(0,9,92,1) 100%);
  background: linear-gradient(to right, rgba(6,30,125,1) 0%, rgba(6,30,125,1) 36%, rgba(0,9,92,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#061e7d', endColorstr='#00095c', GradientType=1 );
}
.arrow-down img{
  width: 25px;
}

.our-value h1{
  color: var(--main-color-tittle);
}

.our-value p,
.our-value h5{
  color: white;
}

.our-value-h5 {
  font-weight: 600;
  min-height: 48px;
}
.our-value p{
  font-size: 15px;
}

.time-line::before{
  background: #E6E6E6;
  content: '';
  height: 1px;
  position: absolute;
  width: 85%;
  margin: -20px;
}

.time-line-item::before{
  content: "";
  background-color: var(--main-color-tittle);
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  display: block;
  top: -24px;
  right: 95px;
}

@media screen and (max-width: 768px){

  .our-value{
    padding: 20px;
  }

  .our-value-h5{
    min-height: 0;
  }
}

#our-value #our-value-title{
  padding-bottom: 20px;
}





@media screen and (max-width: 768px){

  .our-clients {

    padding: 20px;
    text-align: center;
  }


}



/* WE ARE */
.we-are{
  background-color: rgb(204, 204, 204);
}

.we-are img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.we-are .our-investors a{
  color: black;
  font-size: 20px;
  text-transform: uppercase;
}

.we-are .profiles .linkedin-logo img {
  width: 50px;
}

.we-are .profiles p{
  font-size: 15px;
}

.we-are .profiles h5,
.we-are  h1 {
  color: var(--main-color-blue);
}


@media screen and (max-width: 768px){

  .we-are{
    padding: 20px;
  }
}



/*************
LOGOS
*************/
/* company logo @ mainNav*/
.logoOmbu {
  max-width: 150px;
}



.btn-send-form {
  width: 50%;
  height: 30px;
  text-align: center;
  border-color: rgb(244, 130, 81);
  background-color: transparent;
  color: rgb(244, 130, 81);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0px !important;
}
.btn-send-form:hover{
  background-color: rgb(244, 130, 81);
}

#in-page-menu {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  width: 100%;
  background-color: #f5f8fb !important;
  padding: 10px 0;
}
#in-page-menu ul {
  padding: 0 !important;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (min-width: 768px) {
  #in-page-menu ul {
    justify-content: space-around;
    width: 80%;
  }
}
#in-page-menu ul li {
  font-size: 10px;
  word-wrap: none;
}
@media (min-width: 768px) {
  #in-page-menu ul li {
    font-size: 13px;
    padding: 0 10px !important;
  }
}
#in-page-menu ul li a {
  color: #204c6b;
  font-weight: bold;
}



/* Resolucion para IOS */
@media (max-width: 415px){
  #in-page-menu ul li{
    padding-left: 20px !important;
  }

  #in-page-menu {
    padding-right: 30px;
    margin-left: -10px;
  }

  #ai-credit-scoring img{
    height: 40px;
  }
}


/**********
    HEADER
  **********/
#mainNav {
  height: 50px !important;
  cursor: pointer;
  background-color: white;
  font-size: 13px;
  /* burguer */
  /* APPLYING COMPANY COLOR TO BOOTSTRAP BURGUER */
  /* custom style for div collapse */
}
#mainNav li a {
  font-weight: bolder;
  color: #000;
  text-transform: lowercase;
}

.contact-us-link {
  color: #fff !important;
}

#mainNav li a:hover, #mainNav li a:visited {
  text-shadow: #33AFFF;
  
}
#mainNav .dropdown-link {
  position: relative;
}
#mainNav .dropdown-link .dropdown-list,
#mainNav .dropdown-link .deep-dropdown-list {
  visibility: hidden !important;
  width: 250px;
  background: white;
  position: absolute;
  top: -25px;
  opacity: 0;
  -webkit-box-shadow: 3px 13px 20px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 3px 13px 20px rgba(0, 0, 0, 0.1);
  box-shadow: 3px 13px 20px rgba(0, 0, 0, 0.1);
}
#mainNav .dropdown-link li {
  padding: 20px !important;
  width: 110%;
}
#mainNav .dropdown-link:hover .dropdown-list {
  visibility: visible !important;
  transform: translateY(40px);
  opacity: 1;
}
#mainNav .dropdown-link:hover .dropdown-list .deep-dropdown-list {
  visibility: hidden !important;
  left: 160px;
}
#mainNav .dropdown-link:hover .dropdown-list .deepdown-link:hover .deep-dropdown-list {
  visibility: visible !important;
  transform: translateX(80px);
  opacity: 1;
}
#mainNav .custom-toggler.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(27, 58, 80)' stroke-width='5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  position: absolute;
  top: 10px;
  right: 10px;
}
#mainNav .navbar-toggler {
  border: none !important;
}
#mainNav .collapse {
  justify-content: flex-end !important;
}
#mainNav .responsive-menu-title .nav-link {
  padding: 0 !important;
  margin: 0 !important;
}
#mainNav #togglerBurguer:target {
  display: flex !important;
}
#mainNav #togglerBurguer:not(:target) {
  display: none !important;
}
#mainNav .hidden-menu-style {
  overflow: scroll;
  width: 100%;
  height: 100%;
  position: fixed !important;
  top: 100px !important;
  background: white;
  padding-bottom: 50px;
}
#mainNav .hidden-menu-style .nav-item,
#mainNav .hidden-menu-style .nav-link {
  margin-top: 10px !important;
}
#mainNav .hidden-menu-style li {
  padding: 0 10px !important;
  margin: 0 10px !important;
}

#container-dynamic-content {
  width: 100%;
  height: fit-content !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0;
}
@media (min-width: 992px) {
  #container-dynamic-content {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 812px){
  #desktop-line{
    visibility: hidden;
  }
}

.top-boton{
  background: rgba(67,182,224,1);
  background: -moz-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(67,182,224,1)), color-stop(99%, rgba(163,84,232,1)), color-stop(100%, rgba(183,222,237,1)));
  background: -webkit-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  background: -o-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  background: -ms-linear-gradient(left, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  background: linear-gradient(to right, rgba(67,182,224,1) 0%, rgba(163,84,232,1) 99%, rgba(183,222,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43b6e0', endColorstr='#b7deed', GradientType=1 );
  border-radius: 20px;
}
.top-boton a::hover{
  color: white;

}

.idioms{
  border-left: var(--main-color-tittle) 1px solid;
  
}
.idioms a{
  text-transform: capitalize !important;
  color: var(--main-color-tittle) !important;
}
.idioms img{
  width: 15px;

}

/*******************************
  THINKTRANSFORMATION SECTION
********************************/
.think-transformation {
  background-image: url("../imgs/bkgs/Bkg_Section1.png");
  justify-content: flex-end !important;
  align-items: center !important;
  padding-top: 50px;
  padding-left: 100px;
  
}

.think-transformation h4{
  color: white;
  text-transform: capitalize;
}

.think-transformation h1{
  color: var(--main-color-tittle);
}

@media screen and (max-width: 768px){
  .think-transformation{
    background-size: cover;
    padding: 100px;
    /* background-attachment: fixed */
  }

}

/*******************************
  WHATWEDO SECTION
********************************/
.line-left{
  border-left: solid black;
}

.what-we-do img {
  max-width: 30px;
}

@media screen and (max-width: 768px){

  .what-we-do {
    padding: 20px;
  }

  .line-left{
    border-left: none;
    border-bottom: 1px solid; 

  }

  .line-down{
    border-bottom: 1px solid;
    text-align: left;
    padding-bottom: 10px;
  }

}



/*******************************
  CONTACT SECTION
********************************/
.contact-us {
  padding-top: 0 !important;
  background-image: url("../imgs/bkgs/Bkg_Contact.jpg");
  background-size: cover;
  background-position: top top;
}
.contact-us h2 {
  padding-top: 150px !important;
  color: white !important;
}
.contact-us .contact-info-container {
  padding-top: 130px !important;
}
.contact-us .contact-info-container h2 {
  margin: 0 !important;
  padding: 0 !important;
  color: #204c6b !important;
  text-align: center;
}
.contact-us .contact-info-container .contact-information {
  margin: 40px 20px !important;
  
}
.contact-us .contact-info-container .contact-information .contact-city {
  font-weight: bolder !important;
  text-transform: uppercase;
}
.contact-us .contact-info-container .contact-information .contact-city:before {
  display: inline;
  font-family: 'Font Awesome 5 Free' !important;
  font-weight: 900 !important;
  content: '\f3c5';
  color: #3889c2;
  margin-right: 10px;
}

/*******************************
PRODUCTS SECTION
********************************/

#products {
  background-image: url("../imgs/bkgs/Bkg_Section1.png");
  
}

#products #our-products-items img {
  height: 120px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 25px;
}

.time-line-threr::before{
  background: #E6E6E6;
  content: '';
  height: 1px;
  position: absolute;
  width: 73%;
  margin: 60px;
  right: 113px;
}

#products #our-products-items p{
  font-size: 15px;
  color: white;
  text-align: initial;
}

#products h2{
  color: var(--main-color-tittle);

}

@media screen and (max-width: 768px){
  
  .time-line::before,
  .time-line-one::before,
  .time-line-two::before,
  .time-line-threr::before,
  .news-cards::before,
  .time-line-item::before{
    visibility: hidden;
  }

  #products{
    background-size: cover;
    padding: 50px;
  }
}



/* ***************
      key features
      ************* */

#key-features-items img{
  width: 60px;
}

/* AL CREDIT */

#al-credit{
  background-color: #e6e6e6;
}

#al-credit .media img{
  width: 80px;
  background-color: white;
  border-radius: 50px;
}

#al-credit h2{
  font-weight: 600;
  font-family: Oswald-VariableFont_wght, Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 720px){
  #al-credit{
    min-height: 80vh;
  }

  #al-credit .media img{
    width: 70px;

  }
  #al-credit h5{
    font-size: 15px;
  }
}


/* fin de products */

/* WHITE LABEL */

#white-label img{
  max-height: 300px;
}

.gray h1{
  color: gray !important;
}




/*******************************
    SERVICES SECTION
********************************/
#our-services{
  background-color: #3da1f3;
}

#our-services-items img{
  height: 50%;
  background-color: white;
  border-radius: 50px;
}

@media screen and (max-width: 768px){
  #our-services{
    padding-top: 100px;
  }
}



/* ++++++++++++++++++++++
    digital transformation
    ********************* */

#digital-transform-items img{
  height: 120px;
  background-color: #28348a;
  border-radius: 40px;
  margin-bottom: 30px;
}

/* **********
    CTO SERVICE
    ********* */

#cto-service {
  background-image: url(../imgs/bkgs/Bkg_Section1.png);
  
}

#cto-service-items h5{
  color: white;
}

#cto-service-items img{
  width: 150px;
  background-color: white;
  border-radius: 50%;
}

@media screen and (max-width:768px){
  #cto-service{
    background-size: cover;
  }
}



/* ***********
    DATA MODERNIZATION
    ************ */
#data-modern-items img {
  height: 70px;
  background-color: #e6e6e6;
  border-radius: 50%;

}

@media screen and (max-Width: 768px){
  #data-modernization img{
    width: 70px;
  }

  .data-margin-botom{
    padding-bottom: 30px;
  }

}




  

/* ********
    CLOUD SERVICES & INTEGRATION SUPPORT
    ******** */

#cloud-service {
  background-color: #e6e6e6;
}

#cloud-service-items h5{
  font-size: 15px;
}

#cloud-service-items img{
  height: 100px;
  border-radius: 15%;
  background-color: white;

}


/**********
    PARTNER
  **********/
#partner-logo{
  min-height: 60vh;
}

#clients-items{
  background-color: 0px 10px 5px 0px rgba(168,163,168,1);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(168,163,168,1);
  -moz-box-shadow: 0px 10px 5px 0px rgba(168,163,168,1);
  box-shadow: 0px 10px 5px 0px rgba(168,163,168,1);
}

#partner-logo h1{
  text-align: left;
}

.colection{ 
  padding-right: 130px;
  padding-top: 70px;
  padding-left: 130px;
  margin-top: 20px;
  
}

.news-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  filter: drop-shadow(5px 4px 6px rgba(168,163,168,1));
  gap: 25px;
  margin-bottom: 10px 0;

}
.news-cards img{
  width:  100%;
  height: 60px;
  margin: 10px 0;
}

.news-cards::before{
  background: #e5e5e5;
  content: '';
  height: 1px;
  position: absolute;
  width: 200%;
  margin: 120px 0;
  right: -300px;
}

.partner-galeria {
  clip-path: polygon(50% 15%, 100% 30%, 100% 70%, 50% 85%, 0 70%, 0 30%);
  background-color: #fff;
  display: inline-block;
  margin: 20px;
  padding: 60px 20px;
  object-fit: contain;
}

@media (max-width: 576px) {

  .news-cards {
    grid-template-columns: repeat(2, 2fr);  

  }

  .partner-galeria {
    width: 200px;
    margin-left: -30px;
  }
  

}

@media (max-width: 768px) {

  .news-cards {
    grid-template-columns: repeat(2, 2fr);  

  }

  .partner-galeria {
    width: 200px;
    margin-left: -30px;
  }
}

@media (max-width: 417px) {

  .news-cards {
    grid-template-columns: repeat(1, 1fr);  

  }

}

/* Configuracion IOS Horizontal */

@media screen and (orientation: landscape) and (max-width: 812px) {

  #togglerBurguer {
    max-height: 100vh !important;
  }

  .news-cards {

    grid-template-columns: repeat(2, 2fr) !important;
  }

}  

@media (max-width: 576px){

  .partner-galeria{

    width: 100%;
    margin: 10%;    
  }

  .colection{    
    grid-template-columns: repeat(4, 1fr);
  }  
}



/************
      RESOURCE 
    ************/

#resource img {
  width: 100px;
}

#notice-resource {
  min-height: 40vh;
}

#resource h1{
  color: grey;
}

.media-body p{
  color: black;
  font-size: 1.1rem;
  font-weight: 600;
}

#resource a {
  color: var(--main-color-tittle);
}

/* *****************
      ABOUT US 
      *********** */
#aboutus{
  background-color: #e6e6e6;
  padding-top: 20px;
}

#aboutus h1{
  color: black;
}

#about-us-items img{
  width: 150px;
  border-radius: 50%;
}

#about-us-items p {
  font-size: 12px;
}

#about-us-items h5{
  color: var(--main-color-blue);
  
}

@media screen and (max-width: 768px){
  #aboutus{
    padding-top: 80px;
  }
}



/**********
    FORMS
  **********/
.form-container {
  height: 100%;
  padding: 0 50px 50px 50px;
  background-color: rgb(204, 204, 204) !important;
  color: white !important;
}
.form-container label {
  margin-right: 5px;
  display: block;
  width: 170px;
}
.form-container input {
  width: 90% !important;
}
.form-container button {
  color: white !important;
}
@media (max-width: 768px) {
  .form-container {
    width: 100vw;
  }
}


/************
      FOOTER 
  ***************/

.main-footer {
  background-color: #008bfc;
}

#footer {
  min-width: 50vh;
  font-size: 10px;
  background-color: 008bfc;
}

#social-media p,
.street p{
  font-size: 12px;
  color: white;
}

#social-media img{
  height: 35px;
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  width: 35px;
}

.well {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.well h5 {
  font-weight: 600;
}


/* ************
      OUR PARTNERS CARROUSEL
    ************** */

#our-partners-carrusel{
  min-height: 40vh;
}

#partners-title{
  background-color:0px 10px 5px 0px rgba(168,163,168,1);
  -webkit-box-shadow: 0px 10px 5px 0px rgba(168,163,168,1);
  -moz-box-shadow: 0px 10px 5px 0px rgba(168,163,168,1);
  box-shadow: 0px 10px 5px 0px rgba(168,163,168,1);
}

.our-partners{
  padding: 40px;
  width: 750px;
  margin: 0 auto;
  
}

.our-partners img{
  width: 200px;
}

.slider {
  width: 75%;
  margin: 0 auto;
  box-sizing: border-box;
}

.slider::before{
  background: #e5e5e5;
  content: '';
  height: 1px;
  position: absolute;
  width: 200%;
  margin: 115px 0;
  right: -300px;
}

.regular .polygon {
  clip-path: polygon(50% 15%, 85% 30%, 85% 70%, 50% 85%, 15% 70%, 15% 30%);
  background-color: #e5e5e5;
  margin: 20px;
  padding: 60px 20px;
  max-height: 200px;
  overflow: hidden;
  text-align: center;
}

.slick-slide {
margin: 0px 20px;
}

.slick-slide img {
  display: inline-block;
  height: 70px;
  width: 140px;
}

.slick-prev:before,
.slick-next:before {
color: black;
}

.slick-slide {
  transition: all ease-in-out .3s;
}

@media (max-width: 576px) {
  
  .slick-slide img {
    display: inline-block;
    height: 80px;
    width: 150px;
  }

  .regular .polygon {
    clip-path: polygon(50% 10%, 100% 30%, 100% 70%, 50% 90%, 0% 70%, 0% 30%);
  }

  .slider::before {
    display:none;
  }
}

/*# sourceMappingURL=inicio.css.map */
