<?php if (!is_null($head)) include($head); ?>
<div class="red-social">
	<div class="red-social-estilos">
		<a href="https://twitter.com/techombu" target="_blank" class="pb-3">
			<img src="../../imgs/twitter-new.svg" alt="">
		</a>
		<a href="https://www.linkedin.com/company/ombu-tech/" target="_blank">
			<img src="../../imgs/linkedin-new.svg" alt="">
		</a>
	</div>
</div>
<div class="wrapper">
	<?php
	include($header);
	include($mainmenu);
?>
	
	<div class="content-wrapper">
		<div class="content">
			<div class="container-fluid main-site-wrapper">
				<?php if (!is_null($vista)) include($vista); ?>
			</div>
		</div>
	</div>
	<!-- </main> -->
	<footer class="main-footer">
		<?php if (!is_null($footer)) include($footer); ?>
	</footer>
	<div class="container-fluid">
		<div class="row d-flex justify-content-between sub-footer">
			<div class="col-lg-4">
				<p>Copyright &#169; <?php echo(date('Y'));?> Ombu Tech Services</p>
			</div>
			<div class="col-lg-8 text-right">
				<p>Este sitio asegura su información privada utilizando un Certificado SSL Su información esta 100% protegida</p>
			</div>
		</div>
	</div>
	

</div><!-- wrapper -->