<?php if (!is_null($head)) include($head); ?>
<div class="wrapper">
	<?php
	include($header);
	include($mainmenu);
?>
	<div class="content-wrapper">
		<div class="content">
			<div class="container-fluid main-site-wrapper">
				<?php if (!is_null($vista)) include($vista); ?>
			</div>
		</div>
	</div>
	<!-- </main> -->
	<footer class="main-footer">
		<?php if (!is_null($footer)) include($footer); ?>
	</footer>
	<div class="container-fluid">
		<div class="row d-flex justify-content-between">
			<div id="terminos-condiciones" class="d-flex justify-content-between">
				<div class="col-lg-10 ml-5 mr-auto p-1">
					<p><strong>Terminos y Condiciones &#124;</strong><strong>  Politicas de privacidad</strong></p>
					<p>Copyright &#169; 2020 Ombucredit</p>
				</div>
				<div class="col-lg-12 p-1">
					<p>Este sitio asegura su información privada utilizando un Certificado SSL Su información esta 100% protegida</p>
				</div>
			</div>
		</div>
	</div>
	

</div><!-- wrapper -->