<?php if (!is_null($head)) include($head); ?>
<div class="wrapper">
	<?php
	include($header);
	include($mainmenu);
?>
	<div class="content-wrapper">
		<div class="content">
			<div class="container-fluid main-site-wrapper">
				<?php if (!is_null($vista)) include($vista); ?>
			</div>
		</div>
	</div>
	<!-- </main> -->
	<footer class="main-footer">
		<?php if (!is_null($footer)) include($footer); ?>
	</footer>
	<div class="container-fluid">
		<div class="row d-flex justify-content-between sub-footer">
			<div class="col-lg-4">
				<p><strong>Terminos y Condiciones &#124; Politicas de privacidad</strong></p>
				<p>Copyright &#169; <?php echo(date('Y'));?> Ombucredit</p>
			</div>
			<div class="col-lg-8 text-right">
				<p>Este sitio asegura su información privada utilizando un Certificado SSL Su información esta 100% protegida</p>
			</div>
		</div>
	</div>
	

</div><!-- wrapper -->