<?php
?>
<!-- our investors -->
<section id="aboutus" class="our-investors-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 col-md-9">
        <h1>OUR INVESTORS</h1>
      </div>
      <div class="col-lg-3 col-md-3 text-lg-center text-md-right pb-5">
        <span class="link-our-investors-arrow"><img src="../../imgs/arrow-down.svg" alt="Arrow"></span>
        <a href="<?php echo BASE_URL; ?>#we-are" class="link-our-investors">About Us</a>
      </div>
      <div class="row col-lg-12 justify-content-between" id="about-us-items">
        <div class="col-lg-5">
          <!-- Mariano -->
          <div class="media">
            <img class="mr-3" src="../../imgs/people/MZ.jpg" alt="MarianoZadeh">
            <div class="media-body">
              <h5 class="mt-0">Mariano Zadeh</h5>
              <p>Over 20 years leading digital companies in the fintech sector in LatAm and U.S Worked for 4finance, Enova Int. Yahoo! an AT Kearney early in his career. Holds a BS degree from the Wharton School and an MBA from Kellogg at Northwestern University.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <!-- Marcelo -->
          <div class="media">
            <img class="mr-3" src="../../imgs/people/marcelo.jpg" alt="Marcelo Berenstein">
            <div class="media-body">
              <h5 class="mt-0">Marcelo Berenstein</h5>
              <p>18 years of experience in the financial industry Leading structured products expert with broad knowledge across  many asset classes such as structured notes, derivatives (credit, FX, rates and hybrids), structured financing, distress debt, NPLs and securitization in Emerging Markets. Before he worked at Barclay Investments, Morgan Stanley in New York and Deutsche Bank also in New York.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <!-- Jorge D -->
          <div class="media">
            <img class="mr-3" src="../../imgs/people/jorge.jpg" alt="Jorge Dominguez">
            <div class="media-body">
              <h5 class="mt-0">Jorge Dominguez</h5>
              <p>Experienced lawyer and banking professional with over 15 years' experience in New York and Buenos Aires. Specializes in credit solutions such as debt offerings, syndicate loans or private placements. Previously, he was the head of special situations of BAF Capital and the vice GM of interfinanzas Bank. Before, based in NY, he worked for JP Morgan and Chadbourne & Parke LLP, always covering Latin America. Holds a law degree from Universidad Austral and an LLM from Columbia University.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <!-- Hernan Yellati -->
          <div class="media">
            <img class="mr-3" src="../../imgs/people/hernan.jpg" alt="Hernan Yellati">
            <div class="media-body">
              <h5 class="mt-0">Hernan Yellati</h5>
              <p>Co-Founder and Managing Partner of Finsight Capital LLC. Previously he was Managing Director and Head of Emerging Markets Strategy at Barclay investiments. Focused in high-beta credits, particularly in Latin America. Previously, he was Head of Research and Strategi at Banc Trust & Co Investment Bank. Prior to that, Senior Fixed Income Strategist at HSBC securities in New York and Deputy Chief Economist at HSBC Argentina.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
