            <div class="p-0 m-0 container-fluid d-flex flex-column flex-lg-row">
                <div class="d-none d-lg-block col-lg-1"></div>
                <div class="col-lg-4 align-items-start justify-content-start">
                    <div class="contact-info-container">
                        <h2 class="d-lg-none pt-0">Contact us</h2>
                        <div class="d-flex flex-row flex-lg-column justify-content-center">
                            <ul class="contact-information">
                                <li class="contact-city">Buenos Aires</li>
                                <li>1350 Basavilbaso Street</li>
                                <li>5th floor</li>
                                <li>City of Buenos Aires</li>
                                <li>+ 54 9 11 3180 3538</li>
                                <li>Argentina</li>
                            </ul>
                            <ul class="contact-information">
                                <li class="contact-city">Miami</li>
                                <li>200 S Biscayne Blvd</li>
                                <li>27th floor</li>
                                <li>Miami, Florida</li>
                                <li>+1 786-322-3679</li>
                                <li>USA</li>
                            </ul>
                        </div>
                        <p class="text-center text-lg-left"><a href="mailto:info@ombutech.net">info@ombutech.net</a></p>
                    </div>
                </div>
                <div class="col-lg-7 form-container text-center text-lg-left">
                    <h2 class="d-none d-lg-block">Contact us</h2>
                    <form id="frmContacus" name="frmContacus" class="d-flex flex-column mt-5 mt-lg-0 pt-5 pt-lg-0">
                        <div class="form-group justify-content-between d-flex flex-row text-nowrap">
                            <label for="" class="col-form-label d-flex flex-nowrap">Company Name:</label>
                            <input type="text" id="companyName" name="companyName" class="form-control badge-pill"
                                placeholder="Company name">
                        </div>
                        <div class="form-group d-flex flex-row text-nowrap">
                            <label for="" class="col-form-label d-flex flex-nowrap">Industry:</label>
                            <input type="text" id="industry" name="industry" class="form-control badge-pill"
                                placeholder="Industry field">
                        </div>
                        <div class="form-group d-flex flex-row text-nowrap">
                            <label for="" class="col-form-label d-flex flex-nowrap">Country:</label>
                            <input type="text" id="country" name="country" class="form-control badge-pill"
                                placeholder="Your country name">
                        </div>
                        <div class="form-group d-flex flex-row text-nowrap">
                            <label for="" class="col-form-label d-flex flex-nowrap">Name of Contact:</label>
                            <input type="text" id="contactName" name="contactName" class="form-control badge-pill"
                                placeholder="Your name">
                        </div>
                        <div class="form-group d-flex flex-row text-nowrap">
                            <label for="" class="col-form-label d-flex flex-nowrap">Title:</label>
                            <input type="text" id="titleName" name="titleName" class="form-control badge-pill"
                                placeholder="Your position">
                        </div>
                        <div class="form-group d-flex flex-row text-nowrap">
                            <label for="" class="col-form-label d-flex flex-nowrap">Contact Number:</label>
                            <input type="text" id="telNumber" name="telNumber" class="form-control badge-pill"
                                placeholder="Your telephone number">
                        </div>
                        <div class="form-group d-flex flex-row text-nowrap">
                            <label for="emailContact" class="col-form-label d-flex flex-nowrap">Email
                                Contact:</label>
                            <input type="email" id="email" name="email" class="form-control badge-pill"
                                id="emailContact" aria-describedby="emailHelp" placeholder="Your email addresss">
                        </div>
                        <div class="form-group d-flex flex-row text-nowrap justify-content-end">
                            <button type="button" class="btn-send-form mx-5" onClick="SendForm();">Send</button>
                        </div>
                    </form>
                </div>
            </div>