<?php
?>
<!-- 
        ===================================
        MAIN CONTENT 
        ===================================
      -->

<!-- ********
    VITAE ERAT
  ************* -->

<section id="vitae-erat" class="vitae-erat">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <img src="" alt="" />
      </div>
      <div class="col-lg-5">
        <div><h1>Vitae erat efficitur</h1></div>
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
            libero quis, voluptate omnis maiores fugit quos nihil. Facilis ipsa
            vero blanditiis soluta esse, vel minima nostrum temporibus qui quas.
            Optio?
          </p>
        </div>
        <div class="col-lg-12">
          <button type="button" class="btn btn-secondary">Get started</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ***********
      CARACTERISTICA Y BENEFICIOS
    ************** -->

<section id="caracteristicas" class="Burbuja-carct">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-4">
        <h3>Caracteristicas y beneficios</h3>
      </div>
      <div class="row col-lg-12 d-flex justify-content-around text-center">
        <!-- circle 1 -->
        <div class="col-lg-3">
          <div class="caract-item"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
        <!-- circle  2 -->
        <div class="col-lg-3">
          <div class="caract-item"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
        <!-- circle  3 -->
        <div class="col-lg-3">
          <div class="caract-item"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
        <!-- circle  4 -->
        <div class="col-lg-3">
          <div class="caract-item"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
      </div>
    </div>
    <!-- ******  Marcas confiables ******* -->
    <div class="row col-12-lg pb-4 caract-section">
      <div class="col-lg-12 py-3 text-center">
        <h5>Marcas que confian en nosotros</h5>
      </div>
      <!-- marca  1 -->
      <div class="col-lg-2">
        <div class="marcas-items"></div>
      </div>
      <!-- marca  2 -->
      <div class="col-lg-2">
        <div class="marcas-items"></div>
      </div>
      <!-- marca 3  -->
      <div class="col-lg-2">
        <div class="marcas-items"></div>
      </div>
      <!-- marca  4 -->
      <div class="col-lg-2">
        <div class="marcas-items"></div>
      </div>
      <!-- marca  5 -->
      <div class="col-lg-2">
        <div class="marcas-items"></div>
      </div>
      <!-- marca 6  -->
      <div class="col-lg-2">
        <div class="marcas-items"></div>
      </div>
    </div>
  </div>
</section>

<!-- ***********
     PRESENTACION 
    ************** -->

<section id="presentacion">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 presentacion-items">
        <h3>Presentacion del producto</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quam ipsum minima laborum voluptate eius est quos maiores perspiciatis ducimus praesentium, aliquid labore, dolorem in qui quod. Aliquam, obcaecati sint.</p>
      </div>
      <div class="col-lg-6 presentacion-items">
        <h3>Video</h3>
        <video src="#"></video>
      </div>
    </div>
  </div>
</section>

<!-- ***********
     Version del Producto 
    ************** -->

<section id="version-mode">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12 text-center">
        <h3>Version del Producto</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui est veniam recusandae aliquam quas voluptas sit provident excepturi architecto quisquam incidunt exercitationem voluptates repudiandae, laudantium fuga necessitatibus corrupti quod nihil!</p>
      </div>
      <div class="row col-lg-12 d-flex justify-content-center">
        <div class="col-lg-3 text-center version-item py-5">
          <h5>Lite</h5>
          <h4><strong>$0.00</strong></h4>
          <p>10 projects</p>
          <p>20 Downloads</p>
          <p>24/7 Support</p>
          <button type="button" class="btn btn-secondary">Choose</button>
        </div>
        <div class="col-lg-3 text-center version-item py-5">
          <h5>Pro</h5>
          <h4><strong>$20.00</strong></h4>
          <p>Unlimited projects</p>
          <p>50 Downloads</p>
          <p>24/7 Support</p>
          <button type="button" class="btn btn-secondary">Choose</button>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ***********
     CONTACTANOS
    ************** -->

    
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Contacto</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum vero reiciendis suscipit quas maxime eligendi id accusantium commodi voluptates nisi, cupiditate animi consectetur molestias sed debitis possimus enim dolor? Cum!</p>
      </div>
      <div class="row col-lg-12 justify-content-center">
        <form class="form-inline mb-3">
          <div class="form-group mx-2">
            <input type="text" id="" class="form-control" placeholder="Nombre">
          </div>
          <div class="form-group mx-2">
            <input type="text" id="" class="form-control" placeholder="Apellido">
          </div>
          <div class="form-group mx-2">
            <input type="text" id="" class="form-control" placeholder="email">
          </div>
        </form>
      <div class="col-lg-8 text-center">          
        <form class="form-group">
          <textarea class="form-control" id="form-mensaje" rows="3" cols="3" placeholder="Mensaje"></textarea>
        </form>
        </div>
      </div>
    </div>
  </div>
</section>  


  <!-- ***********
     Modal o Ventanas emergentes
    ************** -->
    <!-- Modal Ventana de Login -->

    <div id="modal1" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="container">
            <div class="modal-body text-center">
              <h5><strong>Login</strong></h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, odit!</p>
              <form>
                <div class="form group my-2 text-center">
                  <input type="email" id="emailForm" placeholder="Email">
                </div>
                <div class="form-group my-2 text-center">
                  <input type="password" id="passwordForm" placeholder="Passworld">
                </div>
              </form>
              <div>
                <button type="button" class="btn btn-secondary" id="#">
                  <a href="<?php echo BASE_URL; ?>services">Ingresa</a>
                </button>
              </div>
              <small><a href="#">Forgot your password?</a></small>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal Versiones del producto Disponibles -->
    
    <div id="modal2" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <class class="modal-title"></class>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="container-fluid">
            <div class="modal-body text-center">
              <div class="row d-flex justify-content-center">
                <div class="col-lg-12 text-center">
                  <h3>Version del Producto</h3>
                  <small>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui est veniam recusandae aliquam quas voluptas sit provident excepturi architecto quisquam incidunt exercitationem voluptates repudiandae, laudantium fuga necessitatibus corrupti quod nihil!</small>
                </div>
                <div class="row col-lg-12 d-flex justify-content-center">
                  <div class="col-lg-6 text-center version-item py-5">
                    <h5>Lite</h5>
                    <h4><strong>$0.00</strong></h4>
                    <p>10 projects</p>
                    <p>20 Downloads</p>
                    <p>24/7 Support</p>
                    <button type="button" class="btn btn-secondary">Choose</button>
                  </div>
                  <div class="col-lg-6 text-center version-item py-5">
                    <h5>Pro</h5>
                    <h4><strong>$20.00</strong></h4>
                    <p>Unlimited projects</p>
                    <p>50 Downloads</p>
                    <p>24/7 Support</p>
                    <button type="button" class="btn btn-secondary">Choose</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>