<?php
/*
	Modif: 2020-07-29
	Author: DriverOp
	Desc: Agregado constante URL_imgs para referenciar imágenes del sitio.
*/
?>
<!-- 
        ===================================
        MAIN CONTENT 
        ===================================
      -->

<!-- ********
    VITAE ERAT SECTION I
  ************* -->
<!-- <section class="vitae-erat">
  <div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" style="min-height: 50vh;">
        <div class="carousel-item active vitae-bkg1" style="min-height: 50vh;">          
          <div class="carousel-caption d-none d-md-block">
            <h1>El primer Workplace Digital</h1><h1>para Abogados y sus Clientes.</h1>
            <h5>
              Descubrí la transformación digital del derecho empresarial.
            </h5>
              <button type="button" class="btn btn-primary">Get started</button>
          </div>
        </div>
        <div class="carousel-item vitae-bkg2" style="min-height: 50vh;">          
          <div class="carousel-caption d-none d-md-block">
            <h1>Inteligencia Artificial,</h1>
            <h1>Automatización de documentos</h1>
            <h1>y Digitalización de Datos</h1>
            <h5>
              Libera tu equipo de tareas rutinarias y sumá valor agregado a tus servicios
            </h5>
              <button type="button" class="btn btn-primary">Get started</button>
          </div>
        </div>
        <div class="carousel-item vitae-bkg3" style="min-height: 50vh;">          
          <div class="carousel-caption d-none d-md-block">
            <h1>Aumeto de Productividad,</h1>
            <h1>Optimización de Recursos,</h1>
            <h1>Precisión y Calidad </h1>
            <h5>
              Efectivizá tiempos y esfuerzos; reducí el margen de error y mejorá la calidad de tu vida laboral
            </h5>
              <button type="button" class="btn btn-primary">Get started</button>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section> -->

<section class="vitae-erat">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-interact">
          <div class="vitae-bkg1 text-center">
            <div class="vitae-container">
              <h1>El primer Workplace Digital para Abogados y sus Clientes<span class="span-h1">.</span></h1>
            <h5>
              Descubrí la transformación digital del derecho empresarial.
            </h5>
              <button type="button" class="btn btn-primary"><a href="https://share.hsforms.com/1NFCIkTadR0aCubsnQHxfIw4vl6u" target="_blank" rel="noopener noreferrer">Get started</a></button>
            </div>
          </div>
          <div class="vitae-bkg2 text-center">
            <div class="vitae-container">
              <h1>Inteligencia Artificial,
                Automatización de documentos
                y Digitalización de Datos<span class="span-h1">.</span></h1>
              <h5>
                Libera tu equipo de tareas rutinarias y sumá valor agregado a tus servicios.
              </h5>
              <button type="button" class="btn btn-primary"><a href="https://share.hsforms.com/1NFCIkTadR0aCubsnQHxfIw4vl6u" target="_blank" rel="noopener noreferrer">Get started</a></button>
            </div>
          </div>
          <div class="vitae-bkg3 text-center">
            <div class="vitae-container">
              <h1>Aumento de Productividad,
              Optimización de Recursos,
              Precisión y Calidad<span class="span-h1">.</span></h1>
              <h5>
                Efectivizá tiempos y esfuerzos; reducí el margen de error y mejorá la calidad de tu vida laboral.
              </h5>
              <button type="button" class="btn btn-primary"><a href="https://share.hsforms.com/1NFCIkTadR0aCubsnQHxfIw4vl6u" target="_blank" rel="noopener noreferrer">Get started</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ***********
      CARACTERISTICA Y BENEFICIOS SECTION II
    ************** -->

<section id="caracteristicas" class="caract">
  <div class="container">
    <div class="row d-flex justify-content-around text-center caract-items">
      <div class="col-lg-4">
        <img src="<?php echo URL_imgs; ?>caract1.png" alt="">
        <h5>Un Tablero Simple</h5>
        <p>Panel de Contról de fácil visualización con la información de las sociedades, que ofrece permisos a diferentes niveles de usuarios.</p>
      </div>
      <div class="col-lg-4">
        <img src="<?php echo URL_imgs; ?>caract2.png" alt="">
        <h5>Base de Datos Digital</h5>
        <p>Almacenamiento inteligente de los datos, permientiendo el cruce de información para reducir tareas.</p>
      </div>
      <div class="col-lg-4">
        <img src="<?php echo URL_imgs; ?>caract3.png" alt="">
        <h5>Generación de Documentos</h5>
        <p>Confección y revisión intuitiva de actas de directorio, consitución de sociedades, balances y más, con minima intervención del usuario</p>
      </div>
      <div class="col-lg-4 buzon">
        <img src="<?php echo URL_imgs; ?>caract4.png" alt="">
        <h5>Mensajes, Pedidos y Alertas</h5>
        <p>Mensajeria internta entre partes y alertas de vencimientos, haciendo un seguimiento de los procesos de extremo a extremo.</p>
      </div>
      <div class="col-lg-4">
        <img src="<?php echo URL_imgs; ?>caract5.png" alt="">
        <h5>Biblioteca Digital</h5>
        <p>Reservorio completo de ágil acceso con todos sus datos digitalizados.</p>
      </div>
    </div>
  </div>
</section>

<!-- ***********
     PRESENTACION SECTION III
    ************** -->

<section id="presentacion" class="presentacion">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 presentacion-items">
        <div class="blue-line1">
          <h3>UNA PLATAFORMA INTELIGENTE</h3>
        </div>
        <ul>
          <li>
            <img src="<?php echo URL_imgs; ?>visto.svg" alt=""><strong>Confianza.</strong> Todos los procesos avalados
          </li>
          <li>
            <img src="<?php echo URL_imgs; ?>visto.svg" alt=""><strong>Innovación.</strong> Una nueva forma de organizarte
          </li>
          <li>
            <img src="<?php echo URL_imgs; ?>visto.svg" alt=""><strong>Agilidad.</strong> Navegacion intuitiva y simple
          </li>
          <li>
            <img src="<?php echo URL_imgs; ?>visto.svg" alt=""><strong>Accesibilidad.</strong> Todo alcance de un click
          </li>
          <li>
            <img src="<?php echo URL_imgs; ?>visto.svg" alt=""><strong>Ahorro en Costos.</strong> Mayor capacidad de generar
          </li>
          <li>
            <img src="<?php echo URL_imgs; ?>visto.svg" alt=""><strong>Ahorro en Tiempos.</strong> Todo automatizado y sin intermidiarios
          </li>
        </ul>      
      </div>
      <div class="col-lg-6 presentacion-img text-center">
      </div>
    </div>
  </div>
</section>


<!-- ***********
     Para Vos SECTION IV
    ************** -->

<section id="para-vos" class="para-vos">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 para-vos-items">
        <div class="mb-5 para-vos-item blue-line2"><h3><b>PENSADO PARA VOS</b></h3></div>
        <div class="mb-5 "><h5>Brevity es una solución pensada y diseñada por
          Abogados y para Abogados.</h5></div>
        <p>La propuesta está dirigida a diferentes actores dentro del sector:
          Abogados, Contadores y Escribanos; Estudios Jurídicos medianos o
          grandes; y Gerencias Legales de Empresas.</p>        
      </div>
    </div>
  </div>
</section>


<!-- ***********
     Partners SECTION V
    ************** -->

<section id="partners" class="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center blue-line3">
        <h3><b>QUIENES ESTAN INNOVANDO</b></h3>
      </div>
      <div class="col-lg-12 partners-logos">
        <div class="row d-flex align-items-center">
          <div class="col-lg-3 partners-cards text-center">
            <img src="<?php echo URL_imgs; ?>partners/accenturee.png" alt="">
          </div>
          <div class="col-lg-3 partners-cards text-center">
            <img src="<?php echo URL_imgs; ?>partners/la_nacion.png" alt="">
          </div>
          <div class="col-lg-3 partners-cards text-center">
            <img src="<?php echo URL_imgs; ?>partners/sinteplast.png" alt="">
          </div>
          <div class="col-lg-3 partners-cards text-center">
            <img src="<?php echo URL_imgs; ?>partners/swissmedical.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ***********
     Version del Producto  SECTION VI
    ************** -->

<section id="version-mode" class="version-mode">
  <div class="container">
    <div class="row d-flex justify-content-center version-contenido">
      <div class="col-lg-12 text-center ">
        <h5>Brevity cuenta con 3 planes que se adaptan a tu medida.</h5>
      </div>
      <div class="col-lg-12">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-3 text-center version-item my-3">
            <div class="text-center mb-3 tittle-box-bg">LITE</div>
            <p>Características y funcionalidades básicas,
              generando una experiencia de uso
              transformadora desde el inicio.</p>
            <div class="my-4"><h3><strong>$0</strong> /mes</h3></div>
            <p class="solid-border-b"><img src="../../imgs/si.jpg" alt=""> Phasellus nibh metus</p>
            <p class="solid-border-b"><img src="../../imgs/no.jpg" alt=""> Commodo eu tempus</p>
            <p class="solid-border-b"><img src="../../imgs/no.jpg" alt=""> Lobortis quis dolor</p>
            <p class="solid-border-b"><img src="../../imgs/no.jpg" alt=""> Proin imperdiet</p>
            <p class=""><img src="../../imgs/no.jpg" alt=""> Vivamus tincidunt</p>
          </div>
          <div class="col-lg-3 text-center version-item my-3 mx-lg-3">
            <div class="text-center mb-3 tittle-box-bg">PRO</div>
            <p>Potencia las carecterísticas y
              funcionalidades del Plan Lite aumentando
              los beneficios en el alcance de la solución</p>
            <div class="my-3"><h3><strong>$20</strong> /mes</h3></div>
            <p class="solid-border-b"><img src="../../imgs/si.jpg" alt=""> Phasellus nibh metus</p>
            <p class="solid-border-b"><img src="../../imgs/si.jpg" alt=""> Commodo eu tempus</p>
            <p class="solid-border-b"><img src="../../imgs/si.jpg" alt=""> Lobortis quis dolor</p>
            <p class="solid-border-b"><img src="../../imgs/no.jpg" alt=""> Proin imperdiet</p>
            <p class=""><img src="../../imgs/no.jpg" alt=""> Vivamus tincidunt</p>
          </div>
          <div class="col-lg-3 text-center version-item my-3">
            <div class="text-center mb-3 tittle-box-bg">PRO</div>
            <p>Especialmente diseñada para equipos de
              mayor escala y variedad de roles, que
              requieren un marco adaptado a su
              medida y necesidades</p>
            <div class="my-3"><h3><strong>Consultar</strong></h3></div>
            <p class="solid-border-b"><img src="../../imgs/si.jpg" alt=""> Phasellus nibh metus</p>
            <p class="solid-border-b"><img src="../../imgs/si.jpg" alt=""> Commodo eu tempus</p>
            <p class="solid-border-b"><img src="../../imgs/si.jpg" alt=""> Lobortis quis dolor</p>
            <p class="solid-border-b"><img src="../../imgs/si.jpg" alt=""> Proin imperdiet</p>
            <p class=""><img src="../../imgs/si.jpg" alt=""> Vivamus tincidunt</p>
          </div>
        </div>
        </div>
        <div class="col-lg-12 text-center my-5">
          <button type="button" class="btn btn-primary">
            <a href="https://share.hsforms.com/1NFCIkTadR0aCubsnQHxfIw4vl6u" target="_blank" rel="noopener noreferrer" style="color: white;">Get started</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>





 


  <!-- **************
        Carrusel slik
      **************** -->
      <script type="text/javascript">
        $(document).ready(function(){
          $('.banner-interact').slick({
            arrows: true,
            dots:true,
            responsive: [
              {
              breakpoint: 780,
                settings: {
                  arrows: false,
                  dots:false,
                }
            },
            {
              breakpoint: 820,
              settings:{
                arrows:false,
                dots:false,
                
              }
            }]
          });
        });
      </script>

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    