<?php
?>
<!-- 
        ===================================
        MAIN CONTENT 
        ===================================
      -->

<!-- ********
    VITAE ERAT
  ************* -->

<section id="vitae-erat" class="vitae-erat">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <img src="" alt="" />
      </div>
      <div class="col-lg-5">
        <div><h1>Vitae erat efficitur</h1></div>
        <div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa
            libero quis, voluptate omnis maiores fugit quos nihil. Facilis ipsa
            vero blanditiis soluta esse, vel minima nostrum temporibus qui quas.
            Optio?
          </p>
        </div>
        <div class="col-lg-12">
          <button type="button" class="btn btn-secondary">Get started</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ***********
      CARACTERISTICA Y BENEFICIOS
    ************** -->

<section id="caracteristicas" class="Burbuja-carct">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center mb-4">
        <h2>Caracteristicas y beneficios</h2>
      </div>
      <div class="row col-lg-12 d-flex justify-content-around text-center">
        <!-- circle 1 -->
        <div class="col-lg-3">
          <div class="caract-item"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
        <!-- circle  2 -->
        <div class="col-lg-3">
          <div class="caract-item"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
        <!-- circle  3 -->
        <div class="col-lg-3">
          <div class="caract-item"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
        <!-- circle  4 -->
        <div class="col-lg-3">
          <div class="caract-item"></div>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
          </p>
        </div>
      </div>
    </div>
    <!-- ******  Marcas confiables ******* -->
    <div class="row col-12-lg pb-4 caract-section">
      <div class="col-lg-12 text-center">
        <h2>Marcas que confian en nosotros</h2>
      </div>
      <!-- marca  1 -->
      <div class="col-lg-2">
        <div class="marcas-items"></div>
      </div>
      <!-- marca  2 -->
      <div class="col-lg-2">
        <div class="marcas-items"></div>
      </div>
      <!-- marca 3  -->
      <div class="col-lg-2">
        <div class="marcas-items"></div>
      </div>
      <!-- marca  4 -->
      <div class="col-lg-2">
        <div class="marcas-items"></div>
      </div>
      <!-- marca  5 -->
      <div class="col-lg-2">
        <div class="marcas-items"></div>
      </div>
      <!-- marca 6  -->
      <div class="col-lg-2">
        <div class="marcas-items"></div>
      </div>
    </div>
  </div>
</section>

<!-- ***********
     PRESENTACION 
    ************** -->

<section id="presentacion">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 presentacion-items">
        <h3>Presentacion del producto</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quam ipsum minima laborum voluptate eius est quos maiores perspiciatis ducimus praesentium, aliquid labore, dolorem in qui quod. Aliquam, obcaecati sint.</p>
      </div>
      <div class="col-lg-6 presentacion-items">
        <h3>Video</h3>
        <video src="#"></video>
      </div>
    </div>
  </div>
</section>

<!-- ***********
     Version del Producto 
    ************** -->

<section>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12 text-center">
        <h3>Version del Producto</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui est veniam recusandae aliquam quas voluptas sit provident excepturi architecto quisquam incidunt exercitationem voluptates repudiandae, laudantium fuga necessitatibus corrupti quod nihil!</p>
      </div>
      <div class="row col-lg-12 d-flex justify-content-center">
        <div class="col-lg-3 text-center version-item py-5">
          <h5>Lite</h5>
          <h4><strong>$0.00</strong></h4>
          <p>10 projects</p>
          <p>20 Downloads</p>
          <p>24/7 Support</p>
          <button type="button" class="btn btn-secondary">Choose</button>
        </div>
        <div class="col-lg-3 text-center version-item py-5">
          <h5>Pro</h5>
          <h4><strong>$20.00</strong></h4>
          <p>Unlimited projects</p>
          <p>50 Downloads</p>
          <p>24/7 Support</p>
          <button type="button" class="btn btn-secondary">Choose</button>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- ***********
     Version del Producto 
    ************** -->

    
