<?php
?>

<section id="preguntas" class="terminos">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 terminos-bkg">
                <h1>Preguntas y Respuestas</h1>
            </div>
            <div class="col-lg-12">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, excepturi?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum ea debitis libero adipisci provident culpa quibusdam nam pariatur architecto? Fugiat fugit explicabo, tempora doloribus sit laudantium ratione. Placeat, omnis distinctio!</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis quae commodi corrupti nesciunt animi eaque sed facere et quos, voluptatibus qui velit, illo cupiditate sit eveniet. Voluptates qui sint deserunt!</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum suscipit vitae recusandae architecto doloribus. Eos ducimus officia accusantium labore nam similique earum quas cupiditate magnam voluptate repellendus temporibus reprehenderit eveniet numquam ipsam, tenetur impedit exercitationem molestiae nostrum rerum? Deleniti earum ratione animi harum. Voluptatibus reprehenderit delectus corporis quibusdam. Id dolores expedita illo, atque magni iste, magnam error architecto cumque, odio eos non harum. Vel non totam perspiciatis excepturi ex dolore aliquam dolorem repudiandae dolores. Dolorum dignissimos nam pariatur repellat, excepturi porro exercitationem vel, illum voluptatibus laboriosam qui a velit eligendi rem placeat? Suscipit obcaecati impedit dolores. Asperiores perferendis sit amet.</p>
            </div>
        </div>
    </div>
</section>