<?php
?>
<!-- PRODUCTS -->
<section id="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pb-4">
        <h1>OUR PRODUCTS</h1>
        <h2>END-TO-END LOAN MANAGEMENT SYSTEM</h2>
      </div>
      <div class="row d-flex justify-content-between text-center time-line-threr" id="our-products-items">
        <div class="col-lg-3">
          <img src="../../imgs/products/products_01.svg" alt="phone">
          <p>Automates your entire lending process End-to-end Securities-based platform</p>
        </div>
        <div class="col-lg-3">
          <img src="../../imgs/products/products_02.svg" alt="clock">
          <p>Scalable, fast, flexible and agile while being cost efficient</p>
          <p>Improve productivity and customer service through the entire loan lifecycle</p>
        </div>
        <div class="col-lg-3">
          <img src="../../imgs/products/products_03.svg" alt="">
          <p>Connects lenders seeking high-quality loans with borrowers requiring convenient access to credit</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mt-5" id="arrow">
        <a href="<?php echo BASE_URL; ?>products#key-features">
          <img src="../../imgs/arrow-down.svg" alt="Flecha Hacia Abajo">
        </a>
      </div>
    </div>
  </div>
</section>

<!-- *****************
        KEY FEATURES
      **************** -->

<section id="key-features">
  <div class="container">
    <div class="row" id="key-features-items">
      <div class="mb-3"><h1>KEY FEATURES</h1></div>
      <div class="row col-md-12 mb-4 p-2 key-border-botm">
        <!-- first Row -->
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_07.svg" alt="">
          <div class="media-body">
            <p><strong>White label</strong> Plataform</p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_10.svg" alt="">
          <div class="media-body">
            <p><strong>State-of-the-art</strong> underwriting</p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_15.svg" alt="">
          <div class="media-body">
            <p>Collection <strong>Workflow</strong></p>
          </div>
        </div>
      </div>
      <!-- Second row -->
      <div class="row col-md-12 mb-4 p-2 key-border-botm">
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_08.svg" alt="">
          <div class="media-body">
            <p>Highly <strong>responsive technology</strong></p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_13.svg" alt="">
          <div class="media-body">
            <p><strong>Interest & charges</strong> application</p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_16.svg" alt="">
          <div class="media-body">
            <p>Different <strong>Payment Solutions</strong></p>
          </div>
        </div>
      </div>
      <!-- Third Row -->
      <div class="row col-md-12 mb-4 p-2 key-border-botm">
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_09.svg" alt="">
          <div class="media-body">
            <p><strong>Loan Product</strong> Suite</p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_14.svg" alt="">
          <div class="media-body">
            <p><strong>Highly Customizable </strong>product</p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_17.svg" alt="">
          <div class="media-body">
            <p><strong>Lending </strong>Analytics</p>
          </div>
        </div>
      </div>      
      <!-- fourth Row -->
      <div class="row col-md-12 mb-4 p-2 key-border-botm">
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_10.svg" alt="">
          <div class="media-body">
            <p><strong>Smart </strong>Acquisition</p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="" alt="">
          <div class="media-body">

          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_18.svg" alt="">
          <div class="media-body">
            <p><strong>Modular API-based </strong>Methodology</p>
          </div>
        </div>
      </div>
      <!-- five row -->
      <div class="row col-md-12 mb-4 p-2 key-border-botm">
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_11.svg" alt="">
          <div class="media-body">
            <p><strong>Identity </strong>Validation</p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="" alt="">
          <div class="media-body">

          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="" alt="">
          <div class="media-body">

          </div>
        </div>
      </div>      
    </div>
    <div class="row">
      <div class="col-lg-12 mt-2" id="arrow">
        <a href="<?php echo BASE_URL; ?>products#al-credit">
          <img src="../../imgs/arrow-down.svg" alt="Flecha Hacia Abajo">
        </a>
      </div>
    </div>
  </div>
</section>

<!-- *****************
        AL CREDIT SCORING
      **************** -->

<section id="al-credit">
  <div class="container">
    <div class="row data-modern-items-class justify-content-center">
      <div class="col-lg-12 pb-lg-5">
        <h1>AL CREDIT SCORING</h1>
        <h2>State-of-the-art under writing algorithm</h2>
      </div>
      <div class="col-lg-10">
        <div class="well">
          <div class="col">
            <img class="bg-white" src="../../imgs/products/products_04.svg" alt="Generic placeholder image">
          </div>
          <div class="col-md-11">
              <h5>Offers Configurable Product rule engine</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="well">
          <div class="col">
            <img class="bg-white" src="../../imgs/products/products_05.svg" alt="Generic placeholder image">
          </div>
          <div class="col-md-11">
              <h5>Uses Credit bureaus engines & Credit scorecards based on alternative data</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="well">
          <div class="col">
            <img class="bg-white" src="../../imgs/products/products_06.svg" alt="Generic placeholder image">
          </div>
          <div class="col-md-11">
              <h5>For banked & unbanked customers</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-12 d-flex justify-content-end">
        <img src="../../imgs/partners/credolab.png" alt="credolab">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mt-5" id="arrow">
        <a href="<?php echo BASE_URL; ?>products#white-label">
          <img src="../../imgs/arrow-down.svg" alt="Flecha Hacia Abajo">
        </a>
      </div>
    </div>
  </div>
</section>

<!-- *****************
        white label
      **************** -->

<section id="white-label">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 pb-3">
        <h1>WHITE LABEL PLATAFORM</h1>
      </div>
      <div class="col-lg-9 gray pb-3">
        <h1>HIGHLY RESPONSIVE TECHNOLOGY</h1>
      </div>
      <div class="col-lg-12 text-center" id="white-label-item">
        <img src="../../imgs/white-label.PNG" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 mt-5" id="arrowup">
        <a href="<?php echo BASE_URL; ?>products#products">
          <img src="../../imgs/arrow-down.svg" alt="Flecha Hacia Arriba">
        </a>
      </div>
    </div>
  </div>
</section>