<?php
?>
<!-- PRODUCTS -->
<section id="products">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>OUR PRODUCTS <br></h1>
        <h2>END-TO-END LOAN MANAGEMENT SYSTEM</h2>
      </div>
      <div class="row d-flex justify-content-between text-center time-line-threr" id="our-products-items">
        <div class="col-lg-3">
          <img src="../../imgs/products/products_01.svg" alt="phone">
          <p>Automate your entire lending process End-to-end Securities-bases platform</p>
        </div>
        <div class="col-lg-3">
          <img src="../../imgs/products/products_02.svg" alt="clock">
          <p>Scalable, fast, flexible and agile while being cost efficient</p>
          <p>Improve productivity and custome service through the entire loan lifecycle</p>
        </div>
        <div class="col-lg-3">
          <img src="../../imgs/products/products_03.svg" alt="">
          <p>Connects lenders seeking high-quality loans with borrowes requiring convenient access to credit</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- *****************
        KEY FEATURES
      **************** -->

<section id="key-features">
  <div class="container">
    <div class="row" id="key-features-items">
      <h1>KEY FEATURES</h1>
      <div class="row col-md-12">
        <!-- first Row -->
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_07.svg" alt="">
          <div class="media-body">
            <p><strong>White label</strong> Plataform</p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_10.svg" alt="">
          <div class="media-body">
            <p><strong>State-of-the-art</strong>underwriting</p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_15.svg" alt="">
          <div class="media-body">
            <p>Colecction <strong>Workflow</strong></p>
          </div>
        </div>
      </div>
      <!-- Second row -->
      <div class="row col-md-12">
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_08.svg" alt="">
          <div class="media-body">
            <p>Highly <strong>responsive technology</strong></p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_13.svg" alt="">
          <div class="media-body">
            <p><strong>Interest & charges</strong> aplication</p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_16.svg" alt="">
          <div class="media-body">
            <p>Different <strong>Payment Solutions</strong></p>
          </div>
        </div>
      </div>
      <!-- Third Row -->
      <div class="row col-md-12">
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_09.svg" alt="">
          <div class="media-body">
            <p><strong>Loan Product</strong>suite</p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_14.svg" alt="">
          <div class="media-body">
            <p><strong>Highly Customizable </strong>products</p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_17.svg" alt="">
          <div class="media-body">
            <p><strong>Lending </strong>Analytics</p>
          </div>
        </div>
      </div>      
      <!-- fourth Row -->
      <div class="row col-md-12">
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_10.svg" alt="">
          <div class="media-body">
            <p><strong>Smart Acquisition</strong></p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_18.svg" alt="">
          <div class="media-body">
            <p><strong>Modular API-based </strong>Methodology</p>
          </div>
        </div>
        <div class="media col-lg-4">
          <img class="mr-3" src="../../imgs/products/products_11.svg" alt="">
          <div class="media-body">
            <p><strong>Identity </strong>Validation</p>
          </div>
        </div>
      </div>      
    </div>
  </div>
</section>

<!-- *****************
        AL CREDIT SCORING
      **************** -->

<section id="al-credit">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 pb-lg-5">
        <h1>AL CREDIT SCORING</h1>
        <h2>State-of-the-art under writing algorithm</h2>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-10 pb-lg-3">
          <div class="media">
            <img class="mr-3" src="../../imgs/products/products_04.svg" alt="Generic placeholder image">
            <div class="media-body"><br>
              <h5 class="mt-0">Offers configurable Product rule engine</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-10 pb-lg-3">
          <div class="media">
            <img class="mr-3" src="../../imgs/products/products_05.svg" alt="Generic placeholder image">
            <div class="media-body"><br>
              <h5 class="mt-0">Uses Credit Bureaus engines & Credit scorecards based on alternative data</h5>
            </div>
          </div>
        </div>
        <div class="col-lg-10 pb-lg-3">
          <div class="media">
            <img class="mr-3" src="../../imgs/products/products_06.svg" alt="Generic placeholder image">
            <div class="media-body"><br>
              <h5 class="mt-0">For banked & unbanked customers</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 d-flex justify-content-end">
        <img src="../../imgs/credolab.png" alt="credolab">
      </div>
    </div>
  </div>
</section>

<!-- *****************
        white label
      **************** -->

<section id="white-label">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h1>WHITE LABEL PLATAFORM</h1>
      </div>
      <div class="col-lg-9 gray">
        <h1>HIGHLY RESPONSIVE TECHNOLOGY</h1>
      </div>
      <div class="col-lg-12 text-center">
        <img src="../../imgs/white-label.PNG" alt="">
      </div>
    </div>
  </div>
</section>