<?php
?>
<!-- PRODUCTS -->
<section class="products d-flex flex-column justify-content-start align-items-start" id="products">
  <div id="in-page-menu">
    <ul>
      <li><a class="link-dynamic-menu active-item" href="<?php echo BASE_URL; ?>products">Loan
          Management
          Software</a>
      </li>
      <li>
        <a class="link-dynamic-menu" href="<?php echo BASE_URL; ?>products#end-to-end-lending">End-to-end lending
          hub</a>
      </li>
      <li>
        <a class="link-dynamic-menu" href="<?php echo BASE_URL; ?>products#ai-credit-scoring">AI Credit Scoring</a>
      </li>
      <li>
        <a class="link-dynamic-menu" href="<?php echo BASE_URL; ?>products#payment-solutions">Payment Solutions</a>
      </li>
    </ul>
  </div>
  <div id="container-dynamic-content">
    <!--
    ===================================
        Loan Management Software
    ===================================
    -->
    <div class="tab-section" id="loan-management">
      <div>
        <h3> Loan Management Software</h3>
        <p>Automates your entire Lending Process</p>
        <p>End-to-end securities-based platform
        </p>
        <p>Connects lenders seekinghigh-quality loans with borrowers
          requiring convenient access to credit</p>
        <div class="container-fluid" id="key-features">
          <!-- box title -->
          <div class="d-flex align-items-center justify-content-center">
            <div class="col underlined-box"></div>
            <div>
              <h4>Key Features</h4>
            </div>
            <div class="col underlined-box"></div>
          </div>
          <!-- box keys -->
          <ul>
            <li><span><img src="imgs/logos/logo-ombu-simple-01.png" alt="logo-ombu"> </span>White Label Platform</li>
            <li><span><img src="imgs/logos/logo-ombu-simple-01.png" alt="logo-ombu"> </span>Highly responsive
              technology</li>
            <li><span><img src="imgs/logos/logo-ombu-simple-01.png" alt="logo-ombu"> </span>Loan Product
              Suite</li>
            <li><span><img src="imgs/logos/logo-ombu-simple-01.png" alt="logo-ombu"> </span>Smart
              Acquisition</li>
            <li><span><img src="imgs/logos/logo-ombu-simple-01.png" alt="logo-ombu">
              </span>State-of-the-art underwriting </li>
            <li><span><img src="imgs/logos/logo-ombu-simple-01.png" alt="logo-ombu"> </span>Customer reach through
              Omnichannel
              tool</li>
            <li><span><img src="imgs/logos/logo-ombu-simple-01.png" alt="logo-ombu"> </span>Lending
              Analytics</li>
            <li><span><img src="imgs/logos/logo-ombu-simple-01.png" alt="logo-ombu">
              </span>Collection Workflow</li>          
            <li><span><img src="imgs/logos/logo-ombu-simple-01.png" alt="logo-ombu"> </span>Interest & Charges
              Application</li>
            <li><span><img src="imgs/logos/logo-ombu-simple-01.png" alt="logo-ombu">
              </span>Identity Validation</li>
            <li><span><img src="imgs/logos/logo-ombu-simple-01.png" alt="logo-ombu"></span>Modular API-Based
              methodology and highly customizable product</li>
          </ul>
        </div>
      </div>
    </div>
    


    <!--===================================end-to-end-lending===================================-->
    <div class="tab-section is-hidden" id="end-to-end-lending">
      <div>
        <h3>End-to-end lending hub</h3>

        <p>Scalable, fast, flexible and agile while
          being cost efficient</p>
        <p>Improve productivity and customer service through
          the entire loan lifecycle</p>
      </div>
    </div>
    <!--
          ===================================
          AI-credit-scoring
          ===================================
        -->
    <div class="tab-section is-hidden" id="ai-credit-scoring">
      <div>

        <h3>AI Credit Scoring</h3>
        <p>Better Credit Decisions</p>
        <p>Offers Configurable Product rule engine</p>
        <p>State-of-the-art underwriting algorithm</p>
        <p>Credit Scorecards based on alternative data</p>
        <p>For banked & unbanked customers</p>
        <img src="../../imgs/credolab.png">
      </div>
      
    </div>
    <!--
    ===================================
    biometric-solutions
    ===================================
  -->
 <!--    <div class="tab-section is-hidden" id="machine-learning">
      <div>
        <h3>Machine Learning for client Recognition</h3>
        <p>Machine learning algorithms for mobile & web to detect fraud</p>
      </div>
    </div> -->

    <!--
    ===================================
    payment-solutions
    ===================================
  -->
    <div class="tab-section is-hidden" id="payment-solutions">
      <div>

        <h3>Payment Solutions</h3>
        <p>Easily & Quickly accept and receive payments</p>
        <p>Different Payment Solutions offered to borrowers</p>
        <p>API-based integration system customizable for lenders</p>
      </div>
    </div>
    <!-- <div class="tab-section is-hidden" id="business-outcomes">
      <h3>Business Outcomes (BI)</h3>
      <ul>
        <li>Cost Reduction</li>
        <li>Innovation</li>
        <li>Risk Reduction</li>
        <li>Revenue Generation</li>
        <li>Speed-to-Market</li>
      </ul>
    </div>
  </div> -->
</section>
<script>
  const linksNodes = window.document.body.querySelectorAll(".link-dynamic-menu");
  const linksArray = Array.apply(null, linksNodes);
  for (let i = 0; i < linksArray.length; i++) {
    linksArray[i].addEventListener('click', updateWindow)
  }
</script>