<?php
?>
<!-- SERVICES -->
<section class="services d-flex flex-column justify-content-start align-items-start" id="services">
  <div id="in-page-menu">
    <ul>
      <li><a class="link-dynamic-menu active-item" href="<?php echo BASE_URL; ?>services#digital-transformation">Digital
          Transformation Consulting</a>
      </li>
      <li>
        <a class="link-dynamic-menu" href="<?php echo BASE_URL; ?>services#cto-services">CTO Services</a>
      </li>
      <li>
        <a class="link-dynamic-menu" href="<?php echo BASE_URL; ?>services#data-modernization">Data Modernization</a>
      </li>
      <li>
        <a class="link-dynamic-menu" href="<?php echo BASE_URL; ?>services#cloud-service-integration-support">Cloud
          Services</a>
      </li>
      <li>
        <a class="link-dynamic-menu" href="<?php echo BASE_URL; ?>services#biometric-solutions">Biometric Solutions</a>
      </li>
    </ul>
  </div>
  <div id="container-dynamic-content">
    <!--
    ===================================
        DIGITAL TRANSFORMATION TAB
    ===================================
    -->
    <div class="tab-section" id="digital-transformation">
      <h3>Digital Transformation Consulting</h3>
      <p>Capitalize on New-Age Digital Ecosystems to enable product innovation, enhance customer
        experience and boost operational efficiency</p>

      <p>Growing emphasis on continuous innovation driving the demand for state-of-the-art digital
        capabilities. However, a lack of understanding domain and its measurable impact pose a
        challenge in leveraging digital technology across the business value chain</p>

    </div>
    <!--
    ===================================
        CTO SERVICES TAB
    ===================================
    -->
    <div class="tab-section is-hidden" id="cto-services">
      <h3>CTO Services</h3>
      <p>We provide CTO services for startups that lacks IT teams from their beginning</p>
      <p>Also provide these services for our clients that initiate a digital transformation and want
        to navigate throughout this process with a seasoned team like ours</p>
    </div>
    <!--
    ===================================
        DATA MODERNIZATION TAB
    ===================================
    -->
    <div class="tab-section is-hidden" id="data-modernization">
      <h3>Data Modernization</h3>
      <p>Data Driven Management</p>
      <p>Use of data to improve the efficiency of operations and drive innovation</p>
      <p> Build a Data Driven Culture through the company</p>
      <p>Drives smarter business decisions</p>

    </div>
    <!--
    ===================================
        cloud-service TAB
    ===================================
    -->
    <div class="tab-section is-hidden" id="cloud-service-integration-support">
      <h3>Cloud Services & Integration Support</h3>
      <p>Transition to Hybrid Cloud Infrastructure for Business Growth and Agility</p>
      <p>Help companies enhance operational agility by migrating enterprise applications from on-premise
        to
        cloud. Worked with leading cloud platforms such as AWS, Azure and Google Cloud</p>
      <p>Scalability to meet increased business needs</p>
      <p>Business continuity through available infrastructure</p>
    </div>
    <!--
    ===================================
        biometric-solutions TAB
    ===================================
    -->
    <div class="tab-section is-hidden" id="biometric-solutions">
      <h3>Biometric Solutions</h3>
      <p>Identifying our customers</p>
      <p>Easily Securely biometric technology</p>
      <p>Solution that is easily deployed, secure and scalable for applications installation</p>
      <p>Services can be performed even in the most remote area with lack of infrastructure</p>
      <p>Peace of mind transactions conducted in a secure environment</p>
      <p>Multi-factor authentication</p>
    </div>
  </div>
</section>
<script>
  const linksNodes = window.document.body.querySelectorAll(".link-dynamic-menu");
  const linksArray = Array.apply(null, linksNodes);
  for (let i = 0; i < linksArray.length; i++) {
    linksArray[i].addEventListener('click', updateWindow)
  }
</script>