<!-- Footer -->
<div id="footer" class="footer py-3">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-lg-2 my-2 d-flex flex-column logoBrevity text-center">
                <ul>
                    <li><img src="../../imgs/brevity_footer.png" alt=""></li>
                    <li><small>© 2020, Brevity</small></li>
                </ul>
            </div>
            <div class="col-lg-2 my-2 text-center">
                <ul>
                    <li class="mb-3"><a href="mailto:info@brevity.com">info@brevity.com</a></li>
                    <li>Direccion Fisica 2323</li>
                    <li>Ciudad de Buenos Aires</li>
                    <li>Argentina</li>
                </ul>
            </div>
            <div class="col-lg-2 my-2 text-center d-flex flex-column">
                <ul>
                    <li><a href="<?php echo BASE_URL; ?>#caracteristicas">Caracteristicas</a></li>
                    <li><a href="<?php echo BASE_URL; ?>#version-mode">Planes</a></li>
                    <li><a href="https://share.hsforms.com/1NFCIkTadR0aCubsnQHxfIw4vl6u" target="_blank">Ayuda</a></li>
                    <li><a href="https://share.hsforms.com/1NFCIkTadR0aCubsnQHxfIw4vl6u" target="_blank">Get Started</a></li>
                    <li><a href="">Login</a></li>
                </ul>
            </div>
            <div class="col-lg-2 my-2 text-center terminos-privacidad">
                <ul>
                    <li><a href="<?php echo BASE_URL; ?>terminos-y-condiciones">Términos y Condiciones</a></li>
                    <li><a href="<?php echo BASE_URL; ?>preguntas-frecuentes">FAQ'S</a></li>
                    <li><a href="<?php echo BASE_URL; ?>politicas-y-privacidad">Políticas y privacidad</a></li>
                </ul>
            </div>
            <div class="col-lg-2 my-2">
                <ul class="d-flex social-media">
                    <li>
                        <a href="#"><i class="fab fa-linkedin fa-2x"></i></i></a></li>
                    <li>
                        <a href="#"><i class="fab fa-instagram fa-2x"></i></i></a>
                    </li>
                    <li>
                        <a href=""><i class="fab fa-twitter-square fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>