<!-- Footer -->
<div id="footer" class="footer py-3">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-lg-2 logoBrevity">
                <img src="../../imgs/brevity.png" alt="">
            </div>
            <div class="col-lg-3 text-center">
                <p>info@brevity.com</p>
                <p>Direccion Fisica 2323</p>
                <p>Ciudad de Buenos Aires</p>
                <p>Argentina</p>
            </div>
            <div class="col-lg-2 text-center d-flex flex-column">
                <a href="#">Features</a>
                <a href="#">Version</a>
                <a href="#">Conctacto</a>
                <a href="#">Login</a>
                <a href="#">FAQ'S</a>
                <a href="#">Legales</a>
            </div>
            <div class="col lg 5 text-center">
                <p>Newsletter</p>
                <input type="text">
                <button type="button" class="btn btn-light">Suscribirse</button>
                <div class="col-lg-12">
                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>