<!-- Footer -->
<div class="container-fluid pt-5" id="footer">
  
  <div id="" class="d-flex flex-column flex-md-row justify-content-center align-items-center pb-3 border-bottom">
    <img src="imgs/logos/logo_OMbuTech.png" alt="logo_OMbuTech">
    <ul
      class="text-center text-md-left d-flex align-items-center justify-content-between justify-content-md-end col mt-3 mt-md-0 ml-md-5 pl-md-5">
      <li class="text-center px-md-4">
        <h5>Términos y Condiciones</h5> 
      </li>
      <li class="text-center px-md-4">
        <h5>Políticas de privacidad</h5>
      </li>
    </ul>
  </div>
  <div class="d-flex flex-row-reverse align-items-center justify-content-center" id="footer-menu">
    <a href="http://localhost/products#loan-management"> PRODUCTS</a>
    <a href="http://localhost/services#cto-services"> SERVICES</a>
    <a href="#about-us"> ABOUT US</a>
    <a href="#partner-logo"> PARTNERS</a>
  </div>
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-center pt-3">
    <p class="col-md-3 text-center text-md-left font-weight-bolder">Copyright © 2020 Ombucredit</p>
    <div class="col-4 imgs-footer d-flex justify-content-center align-items-center"><img class="m-2"
        src="imgs/DNPDP-logo.jpg" alt="DNPNP"><img class="m-2" src="imgs/DATAFISCAL.gif" alt="DATAFISCAL">
    </div>
    <div class="col-md-5 d-flex flex-column flex-md-row justify-content-end align-items-center">
      <small class="text-center text-md-left">Este sitio asegura su información privada utilizando un
        Certificado SSL. Su información está 100% protegida. </small>
      <img class="pl-1" src="imgs/SSL_Sello.png" alt="SSL Security icon">
    </div>
  </div>
</div>