<!--
===================================
HEADER
===================================
-->
<header class="pt-3 fixed-top" id="NavMenu">
  <div class="container-fluid">
    <nav id="mainNav" class="navbar navbar-expand-md">
      <!-- BRAND -->
      <a href="<?php echo BASE_URL; ?>">
<?php
/*
	Las constantes como URL_imgs están declaradas en directories.php, no es necesario usar rutas relativas.
*/
?>
        <img src="<?php echo URL_imgs; ?>brevity_logo.png" class="brevity navbar-brand ml-lg-5" alt="brevity">
      </a>
  
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menuMobil">
        <i class="fas fa-bars fa-2x"></i>
      </button>
      <!-- menu desktop -->
      <div class="collapse navbar-collapse" id="menuMobil">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mr-lg-3">
            <a class="nav-link" href="<?php echo BASE_URL; ?>#caracteristicas">Caracteristicas</a>
          </li>
          <li class="nav-item mr-lg-3">
            <a class="nav-link" href="<?php echo BASE_URL; ?>#version-mode">Planes</a>
          </li>
          <li class="nav-item mr-lg-3">
            <a class="nav-link" href="https://share.hsforms.com/1NFCIkTadR0aCubsnQHxfIw4vl6u" target="_blank">Ayuda</a>
          </li>
          <li class="nav-item mr-lg-1">
            <button type="button" class="btn btn-primary nav-link buttn-started"><a href="https://share.hsforms.com/1NFCIkTadR0aCubsnQHxfIw4vl6u" target="_blank" rel="noopener noreferrer" style="color: white;">Get started</a></button>
          </li>
          <li class="nav-item">
            <button type="button" id="btnlogin" class="btn btn-outline-primary nav-link">Login</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>