<!--
===================================
HEADER
===================================
-->
<header class="pt-3 fixed-top" id="NavMenu">
  <div class="container-fluid">
    <nav id="mainNav" class="navbar navbar-expand-md">
      <!-- BRAND -->
      <a href="<?php echo BASE_URL; ?>">
        <img src="../../imgs/brevity.png" class="brevity navbar-brand" alt="brevity">
      </a>
  
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#menuMobil">
        <i class="fas fa-bars fa-2x"></i>
      </button>
      <!-- menu desktop -->
      <div class="collapse navbar-collapse" id="menuMobil">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="btn btn-link nav-link" href="<?php echo BASE_URL; ?>#caracteristicas">Boton 1</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-link nav-link" href="<?php echo BASE_URL; ?>#presentacion">Boton 2</a>
          </li>
          <li class="nav-item mr-lg-5">
            <a class="btn btn-link nav-link" href="<?php echo BASE_URL; ?>#version-mode">Boton 3</a>
          </li>
          <li class="nav-item mr-lg-1">
            <button type="button" class="btn btn-secondary nav-link">Get Started</button>
          </li>
          <li class="nav-item">
            <button type="button" id="btnlogin" class="btn btn-outline-dark nav-link">Login</button>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>